/*******************/
@media only screen and (min-width: 960px) {
  .Sim3DContent {
    padding: 0px 5%; } }
@media only screen and (max-width: 948px) {
  /*.logo {left: 25px;}
  nav.medium-offset-2,
  .sub.medium-offset-2{margin-right: 15% !important;}
  
  .subNav a {
  	font-size: 16px;
  }*/ }
@media only screen and (max-width: 912px) {
  .mainNav a {
    padding: 0 6px 3px;
    font-size: 18px; }

  .logo {
    right: 15px; } }
@media only screen and (max-width: 885px) {
  .searchArea li.lang a {
    font-size: 18px; } }
@media only screen and (max-width: 880px) {
  .breadcrumbs {
    display: block;
    background: #c00;
    top: -15px;
    position: relative;
    text-shadow: none;
    padding-bottom: 12px;
    color: #fff;
    direction: rtl; }

  .breadcrumbs > *:before {
    color: #fff;
    font-family: "TanseekModernProArabic-Light",arial; }

  .breadcrumbs > * a {
    color: #fff;
    font-family: "TanseekModernProArabic-Light",arial; }

  .breadcrumbs > *.current a {
    font-family: "TanseekModernProArabic-Medium",arial; }

  .mobileHdr .searchBox {
    display: none; }

  .hdrOverflow {
    height: 66px;
    overflow: hidden;
    border-bottom: 1px solid #b9b9b7; }

  .largHdr {
    display: none; }

  header {
    padding-bottom: 0;
    border-bottom: none; }

  .logo {
    width: 60px;
    height: 99px;
    background-position: 0 -393px; }

  .logoAreaMob {
    height: 0;
    display: block; }

  /****Start Responsive Header****/
  a.mobHdrLogo {
    display: block;
    float: right;
    width: 16%;
    background: #fff;
    color: #c00;
    padding: 0;
    text-align: center;
    height: 86px;
    font-size: 32px;
    line-height: 2.3; }

  .mobileHdr {
    display: block;
    /* end .searchBox*/ }

  .mobileHdr .searchBox {
    background-color: transparent;
    height: 87px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    overflow: hidden;
    position: relative;
    float: right;
    width: 65%;
    border: none;
    border-left: 3px solid #f1f1f2; }

  .mobileHdr .searchBox .vSep {
    width: 1px;
    background: #efe1e1;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 6px; }

  .mobileHdr .searchBox ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c00; }

  .mobileHdr .searchBox :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c00;
    opacity: 1; }

  .mobileHdr .searchBox ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c00;
    opacity: 1; }

  .mobileHdr .searchBox :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c00; }

  .mobileHdr .searchBox input[type="text"] {
    position: absolute;
    width: 85%;
    left: 0;
    top: 0;
    background: #fff;
    border: none;
    box-shadow: none;
    color: #c00;
    font-family: "TanseekModernProArabic-Bold",arial;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    height: 86px;
    text-indent: 15px; }

  .mobileHdr .searchBox input[type="submit"] {
    background-color: #fff;
    width: 100px;
    height: 86px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    text-indent: -9999px;
    background-position: -115px -459px; }

  .mobileHdr .searchBox input[type="submit"]:focus {
    outline: none; }

  .mobileHdr #menu {
    width: 14%;
    height: 86px;
    background-color: #fff;
    /*background-position:-186px -413px;*/
    float: left;
    position: relative;
    padding-top: 18px;
    /*em{width:36px;height:30px;background-position: -149px -415px;position:absolute;left:50%;margin-right:-18px;top:50%;margin-top:-15px}*/ }

  .mobileHdr #menu div {
    height: 5px;
    margin: 0 auto 6px;
    background-color: #c00;
    width: 34px; }

  .slidingMenu {
    background: #f0f0f0;
    width: 100%;
    padding: 20px 30px;
    overflow: hidden;
    display: none; }

  .slidingMenu .searchArea {
    background: #fff;
    width: auto;
    margin: 0;
    float: none;
    padding: 20px;
    text-align: center; }

  .slidingMenu .searchArea a {
    padding: 0 6px 3px;
    margin: 0 8px;
    font-size: 28px; }

  .slidingMenu ul {
    margin: 0; }

  .mobileMainMenu {
    list-style: none; }

  .mobileMainMenu a, .mobileMainMenu span {
    font-size: 26px;
    font-family: "TanseekModernProArabic-Medium",arial;
    color: #484848;
    text-transform: uppercase; }

  .mobileMainMenu ul {
    list-style: none; }

  .mobileMainMenu li {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 1px;
    padding: 10px;
    border-top: 1px solid #e1e1e1; }

  .mobileMainMenu li li {
    padding-right: 40px; }

  .mobileMainMenu li li a {
    font-size: 22px;
    font-family: "TanseekModernProArabic-Light",arial; }

  .mobileMainMenu li li:last-child {
    border-bottom: none; }

  .mobileMainMenu li:first-child {
    border-top: none; }

  /****************/
  a.mobHdrLogo {
    line-height: 55px;
    height: 66px;
    border-left: 3px solid #f1f1f2; }

  .mobileHdr .searchBox input[type="text"] {
    height: 66px; }

  .mobileHdr .searchBox input[type="submit"] {
    height: 66px;
    width: 65px;
    background-position: -132px -469px; }

  .mobileHdr #menu {
    width: 19%;
    height: 66px; }

  /****End Responsive Header****/ }
@media only screen and (max-width: 836px) {
  footer .lnks {
    width: 35%; }

  footer .connectWithUs {
    width: 64%; } }
@media only screen and (max-width: 800px) {
  .txt40 {
    font-size: 30px; }

  .tex28l {
    font-size: 24px; } }
@media only screen and (max-width: 768px) {
  /*.staticBlock{width:50%}*/
  .borderB {
    border-bottom: 1px solid #f1f1f2;
    padding-top: 10px; }

  .blockRed .icon-mask {
    float: none;
    margin: 0 auto;
    display: block; }

  .blockRed .blockRedTxt {
    margin: 0 auto; }

  .staticBlock {
    width: 50%; }

  .imgBadge {
    margin: 0 auto;
    float: none; }

  .creativeCollective .postContent {
    width: 95%; }

  .point {
    font-size: 26px;
    margin-bottom: 5px; }

  .pointDesc {
    font-size: 26px;
    line-height: .8; }

  .nearestStore .rememberMe {
    width: 100%; }

  .nearestStore .notMember {
    float: none;
    width: 100%;
    text-align: right;
    text-indent: 27px;
    margin-top: 10px; }

  .bigimg img {
    width: 100%; }

  .payby {
    float: none !important;
    width: auto; }

  .payby .arrowRight {
    position: relative;
    top: 2px; }

  .ipadPortrait {
    float: none !important;
    width: auto; }

  .loginBox {
    padding: 20px 10px 10px; }

  .loginBox h2 {
    line-height: 1;
    font-size: 36px; }

  /****loginBox****/
  .redBox {
    /*input[type="text"].txtField,
    input[type="password"].txtField,
    input[type="email"].txtField,
    input[type="number"].txtField{
    	width: 100%;
    	margin: 0 0 5px;
    }*/ }

  /****redBox****/
  .prepaid, .postpaid, .stayUpToDate, .webSelfcare {
    display: block;
    float: none;
    width: 100%; }

  .prepaid .mart48, .postpaid .mart48, .stayUpToDate .mart48, .webSelfcare .mart48 {
    margin-top: 10px; }

  .prepaid .icon-mask, .postpaid .icon-mask, .stayUpToDate .icon-mask, .webSelfcare .icon-mask {
    /*			width:150px;
    			height:150px;
    */
    display: inline-block;
    margin: 0;
    float: right; }

  .prepaid .contentBlock, .postpaid .contentBlock, .stayUpToDate .contentBlock, .webSelfcare .contentBlock {
    margin-right: 158px; }

  .prepaid .mask, .postpaid .mask, .stayUpToDate .mask, .webSelfcare .mask {
    width: 150px;
    height: 150px;
    background: url(../img/maskCircle768.png) no-repeat; }

  .stayUpToDate {
    margin-bottom: 15px; }

  .stayUpToDate .icon-mask {
    width: 150px;
    height: 150px;
    float: none;
    margin: 0 auto;
    display: block; }

  .stayUpToDate .contentBlock {
    margin-right: 0;
    float: none;
    clear: left; }

  .daysLeftBox {
    width: 100%; }

  .bg_why_virgin {
    height: 455px; }

  /*.creativeCollective .imgCreativeCollective {
  	max-width: 140px;
  }*/
  .needHelp1 .connected {
    font-size: 26px; }

  .creativeCollective h3 {
    margin-bottom: 0; }

  .creativeCollective a.posLnk {
    display: block;
    margin-top: 20px; }

  .creativeCollective .postTitle {
    font-size: 32px; }

  .creativeCollective .postDescription {
    font-size: 26px; }

  .readPost {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 3px; }

  .readPost em {
    top: 14px; }

  .nearestStore h3 {
    margin-bottom: 10px;
    line-height: .9;
    margin-top: 0px; }

  .needHelp1, .needHelp2 {
    margin-bottom: 0; }

  .needHelp .overflow {
    margin: 0 -20px; }

  .needHelp .whiteBox {
    background: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 20px;
    margin: 0 -20px; }

  .needHelp1 .pad, .needHelp2 .pad {
    padding: 0; }

  .faqList {
    font-size: 20px; }

  .txt52 {
    font-size: 38px; }

  .virginFamily .needHelp1 .pad {
    padding: 0; }

  .virginFamily .needHelp2 .pad {
    padding: 0; }

  .virginFamily .overflow {
    margin: 0 -20px; }

  h3, h2 {
    font-size: 42px;
    line-height: .9;
    padding-bottom: 15px; }

  .needHelp .blockW {
    padding-bottom: 0; }

  .pintrestImg a {
    max-width: 100px; }

  .pintrestImg a:nth-child(4) {
    margin-left: 10px; }

  .tweetDesc {
    padding-top: 0;
    margin-right: 110px; }

  .tweetDesc .tweetCont {
    height: 46px;
    overflow: hidden; }

  .sharOverlay a {
    width: 75px;
    height: 75px; }

  .sharOverlay a:first-child {
    background-position: -425px -401px; }

  .sharOverlay a:last-child {
    background-position: -424px -491px; }

  .seeStuff .sharOverlay a:first-child {
    margin-right: -80px; }

  .seeStuff .sharOverlay a:last-child {
    margin-left: -80px; }

  /*end seeStuf*/
  .prepaid {
    margin-bottom: 15px; }

  .needHelp1 .faqList li em, .needHelp2 .faqList li em {
    margin-right: 15px; }

  .registrationBlock {
    width: 100%; } }
@media only screen and (max-width: 680px) {
  .txt40 {
    font-size: 21px; }

  .tex28l {
    font-size: 18px; } }
@media only screen and (max-width: 670px) {
  footer .lnks {
    width: 100%; }

  footer .connectWithUs {
    width: 100%; }

  footer .c1, footer .c2, footer .c3 {
    margin-right: 35px;
    width: 90%;
    margin-bottom: 0px; }

  footer .searchBox {
    display: none; }

  footer .copyWrite {
    margin-right: 45px; }

  /****Footer ***/ }
@media only screen and (max-width: 640px) {
  .blockRed h2 {
    font-size: 40px; }

  .blockRed .blockRedTxt {
    font-size: 28px;
    line-height: 1; }

  .a3dSim {
    line-height: 1; }

  a.mobHdrLogo {
    width: 20%; }

  .needHelp1, .needHelp2 {
    width: 100%; }

  .needHelp1 .img {
    background-position: right 0; }

  .connectWithUs .p1 {
    float: right; }

  .connectWithUs {
    margin-top: 25px; }

  .nearestStore .notMember {
    width: 60%; }

  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    opacity: .5; }

  .Sim3D {
    width: 80%;
    float: none;
    margin: 0 auto; }

  .Sim3DContent {
    width: 100%;
    float: none; }

  .Sim3DContent {
    margin-top: 20px;
    float: none !important;
    width: 100% !important; }

  .Sim3DContent .txt40 {
    font-size: 30px; }

  .Sim3DContent .tex28l {
    font-size: 24px; }

  .Sim3DContent h2 {
    font-size: 40px;
    margin-bottom: 10px; }

  .staticBlock {
    width: 100%; }

  .registrationBlock .redBox .marb-10 {
    margin-bottom: 0 !important; }

  .registrationBlock .redBox .column {
    margin-bottom: 10px !important; }

  .registrationBlock div.selector {
    max-width: none !important; }

  .registrationBlock div.selector span {
    max-width: none !important; } }
@media only screen and (max-width: 480px) {
  .txt52 {
    font-size: 28px !important; }

  .Sim3D img {
    margin-bottom: 10%;
    max-width: 90% !important; }

  .nearestStore .rememberMe {
    width: auto;
    float: none; }

  .nearestStore .notMember {
    float: none !important;
    text-align: right;
    padding-right: 23px;
    width: auto; } }
@media only screen and (max-width: 385px) {
  .stickyPadd {
    padding: 70px 40px 0 10px; }

  .banner {
    height: 250px;
    background-position: 50% 0 !important; }

  /*.logo {
    width: 70px;
    height: 115px;
    background: url(../img/logo385.png); }
*/
  a.mobHdrLogo {
    font-size: 22px; }

  .mobileHdr .searchBox input[type="text"] {
    font-size: 22px; }

  .mobileHdr #menu {
    padding-top: 20px; }

  .mobileHdr #menu div {
    height: 4px;
    width: 34px; }

  .mobileHdr .searchBox input[type="submit"] {
    width: 58px; }

  .mobileHdr .searchBox .vSep {
    right: 58px; }

  .loginBox input[type="text"].txtField,
  .loginBox input[type="password"].txtField,
  .loginBox input[type="email"].txtField,
  .loginBox input[type="number"].txtField {
    width: 46%; }

  .loginBox input[type="password"].txtField {
    width: 46%;
    margin-left: 0; }

  .loginBox form {
    text-align: center;
    display: block; }

  .loginBox .xsml {
    top: 10px;
    width: 50%; }

  .loginBox .rememberMe {
    width: 50%; }

  .prepaid .icon-mask,
  .postpaid .icon-mask,
  .stayUpToDate .icon-mask,
  .webSelfcare .icon-mask {
    float: none;
    margin: 0 auto;
    display: block; }

  .prepaid .contentBlock, .postpaid .contentBlock, .stayUpToDate .contentBlock, .webSelfcare .contentBlock {
    margin: 20px 0 0; }

  /*a.mobHdrLogo {
  line-height: 63px;
  font-size: 21px;
  height:66px;
  
  }
  .mobileHdr .searchBox input[type="text"]{height:66px;font-size:20px;}
  .mobileHdr .searchBox input[type="submit"]{height:66px;width: 65px;background-position: -132px -469px;}
  .mobileHdr .searchBox{width:65%}
  .mobileHdr #menu {width: 19%;height: 66px;}*/
  .mobileHdr {
    /*height: 67px;*/ }

  .surfUp h3 {
    margin-top: -20px; }

  .chooseUniqueNumber h3 {
    font-size: 32px;
    line-height: 1; }

  .chooseUniqueNumber .desc {
    font-size: 24px; }

  .creativeCollective .imgCreativeCollective {
    max-width: 88px; }

  .btnArea button, .btnArea .button {
    font-size: 20px; } }
/* 385px */
@media only screen and (max-width: 360px) {
  .pintrestImg a {
    max-width: 110px !important;
    margin-right: 10px !important; } }
/*# sourceMappingURL=responsive.css.map */

/*# sourceMappingURL=ar_responsive.css.map */
