/*******Tbaza CSS *********/
/*.medium-6 .blockW a:first-child {
  left: 40px; }

.medium-6 .blockW a:last-child {
  right: 40px; }*/
.wbox{background: #fff;}
.wbox h3{margin-left: 15px;}
/*.creativeCollective .postContent{width: 65%;}*/
.postsList .postContent .postImages{ margin-top: 10px;}
.postsList .postContent .postImages img{margin-right: 5px;}
.contentshowcase .blockW{padding-top: 5px}

.creativeCollective h3{margin-bottom: 0;}
.reviews .creativeCollective .blockW{padding-top: 50px;}
.blockG{background:#e4e4e6 }
.blockG h3{color: #404042;}
.favstaff li{width: 50%; float: left;}
.favstaff li span{ background:#f1f1f2; display: block; padding-bottom: 20px}
.favstaff li>span{width: 90%;}
.favstaff li span.postTitle, .favstaff li span.postDescription{background: none; padding: 0px 10px 0;}
.favstaff li span h3{color:#cc0000; }
.favstaff li span img{width: 100%;}
.favstaff li, .favstaff li:last-child{border-bottom: 1px solid #F1F1F2; padding-bottom: 20px;}
.medium-6 .blockG .postsList a{background:#f1f1f2; display: block; padding-bottom: 20px;}
.seeStuff .blockG .imgSeeStuff{width: 100%; height: auto; margin-top: 0;}
.seeStuff .blockG .imgSeeStuff{max-width: none;}
.seeStuff .blockG .postContent span{padding: 0 10px;}
.full{width: 100%; border-right: none;}
.full .pad{padding: 20px 0px; border-right: none;}
.full .img{background-image: none; background: #6d39c3; height: auto;}
/*.faqList.arrow a em{background-position: -240px 0;}*/
.bg_help_virgin{background:url(../img/help-bg.jpg) no-repeat center top; background-size: cover; height: 400px;}
.bg_help_virgin .sticky{margin-top: 20px; margin-left: 45px;}

.bg_help_virgin .connected {
font-size: 30px;
font-family: "TanseekModernProArabic-Bold",arial;
color: #fff;
text-transform: uppercase;
    width: 70%; 
    margin: 0px auto;
}
.faqList.arrow{padding-top: 0; font-family: "TanseekModernProArabic-Light",arial; font-size: 30px;}
/*.seemore{background:#7c4ec9; padding: 10px; text-align:right; border-bottom: solid 3px #e4e4e6; color: #fff;}
.seemore a{color: #fff;}*/
.full .more{color: #fff; font-family: "TanseekModernProArabic-Light",arial;}
.full .more em{
background-position: -193px 0;
}
.full .cont{padding-top: 0;}
.needHelp.redone h3{color: #c00; border-bottom: solid 1px #f1f1f2;}
.needHelp.redone .blockW{background:#fff;}
.needHelp.redone .img{background:#cc0000 ;}
.needHelp.redone .seemore{background: #f61919; border-bottom: none;}
.topuptalking .blockW{background:#e4e4e6; padding-top: 30px;}
.topuptalking .blockW h3{color:#484848; border-bottom: solid 1px #fff;}
.contatus .topuptalking{padding: 10px; height: 400px}
.grybg{background:#e4e4e6; overflow: hidden; height: 400px; margin-bottom: 15px;}
.contatus .faqList a{color: #484848;}
.contatus .faqList a em {
background-position: -440px -8px;
width: 41px;
height: 41px;}
.contatus .faqList a em.phone {
background-position: -439px -8px;
}
.contatus .faqList a em.mail {
background-position: -439px -57px;
}
.contatus .faqList a em.facebook {
background-position: -439px -106px;
}
.contatus .faqList a em.twitter {
background-position: -439px -155px;
}
.payby .blockW{padding-top: 0px;}
.payby.seeStuff li.odd{border: none;}
.payby.seeStuff li.even{border: none;}
.payby.seeStuff .redBox{background: #d94040; border-radius: 0 !important; margin-top: 20px; padding: 10px 10px 20px 20px }
.payby.seeStuff .redBox span{margin: 0;
padding: 8px 0 0;
line-height:1;
font-size: 24px;
font-family: "TanseekModernProArabic-Bold",arial;
color: #fff;
text-transform:uppercase;
letter-spacing:1px;
display: block;
    text-align: left;
}
.payby.seeStuff .redBox span em{
display: inline-block;
width: 37px;
height: 37px;
position: relative;
margin-right: 5px;
top: 12px;
background-position: -240px 0;
}
.payby.seeStuff .redBox span a{color: #fff;}
.offer{margin-top: 50px; display: block}
.itemdes{ font-family: "TanseekModernProArabic-Light",arial; font-size: 32px; width: 75%; text-align: center; line-height: 30px; margin: 10px auto; color: #c00}
.itemimg{margin: 20px auto; text-align: center;}
.btnsmall{font-size: 20px !important; padding: 5px 5px 10px !important;}
.bigimg{margin-top: 20px; display: block;margin-bottom: 25px;}
.text40{font-size: 40px;}
.blocksp{display: block; margin-bottom: 15px;}
.text30{font-size: 30px;}
.medium-3 .topuptalkingBadge{width:100%; text-align: center; margin: 0px auto; background-position: center center;}
.medium-3 .rightBlock{width: 85%;}
.fullmobilenum{background: url(../img/choose.jpg) no-repeat center top; height:520px;}
.medium-3 .topuptalking{margin-bottom: 0;}
.textnum{display: block; padding-top: 340px;}
.btnbox{display: block; padding-top: 30px; padding-left: 20px;}
.medium-3 .nearestStore h3{line-height: 0.85; padding-bottom: 20px;}
.tex60{font-size: 60px; color: #c00; font-family: "TanseekModernProArabic-Bold",arial;}
.tex40l{font-size: 40px; color: #c00; font-family: "TanseekModernProArabic-Light",arial; line-height: 1; display: block; width: 80%}
.tex28lgr{font-size: 28px; color: #484848; font-family: "TanseekModernProArabic-Light",arial; line-height: 1; display: block;}
.tex28l{font-size: 28px; color: #484848; font-family: "TanseekModernProArabic-Light",arial; line-height: 1; display: block;}
.tex28l.redtxt{color: #c00;}
.tex28l.boldtxt{font-family: "TanseekModernProArabic-Bold",arial;}
.vrticalcen{display:table-cell; vertical-align:middle;}
.block.vrticalcentbl{display: table !important;}
.marbt20{margin-bottom: 20px;}
.rangeprice{font-family: "TanseekModernProArabic-Light",arial; font-size: 25px; color:#484848; display: block;}
.bigprice{font-family: "TanseekModernProArabic-Bold",arial; font-size: 36px; color:#484848;}
.fr{float: right;}
output.rangeprice{background: url(../img/red-bubble.png) no-repeat center center; width: 260px; height: 150px; font-size: 70px; color: #fff; font-family: "TanseekModernProArabic-Bold",arial; padding: 40px; position: relative; top: 10px;}
.grow{background:#f1f1f2; margin: 2px 0; overflow: hidden;}
.grow.whitecell{background:#ffffff; margin: 2px 0; overflow: hidden;}
.grow.headr{background: #cc0000}
.cell50{float:left; width: 48%; color: #7f7f84; font-size: 25px; padding: 10px 1%;}
.cell33{float:left; width: 31%; color: #7f7f84; font-size: 25px; padding: 10px 1% 10px 1%;}
.cell20{float:left; width: 18%; color: #7f7f84; font-size: 25px; padding: 10px 0; margin:0px 1% 0 1%;}
.cell20.hedcell{color: #fff;}
.cell33.red{color:#cc0000;}
.cell33.fgold{color:#917b5c; }
.cell66{width: 62%; float: left; margin: 0 1%;}


div.selector.foucs,
div.selector.hover{background-position: 0 -691px !important; }
div.selector {
background-position: 0 -691px !important;  
line-height: 26px;
height: 41px;
padding: 0 0 0 10px;
position: relative;
overflow: hidden;
} 
div.selector span{background-position: right -759px !important; padding:2px 10px 10px 10px; height: 41px; font-size: 28px; color: #fff; }
div.selector.hover span,div.selector.foucs span{background-position: right -759px !important;}

.registrationBlock div.selector {width:100% !important}
.registrationBlock div.selector span,
.registrationBlock div.selector.hover span,
.registrationBlock div.selector.hover span{width:100% !important;background-position: right -802px !important;font-size: 23px;
font-family: "TanseekModernProArabic-Medium",arial; }


.registrationBlock .button{line-height: .7;}

.registrationBlock .button em {
position: absolute;
top: 12px;
right: 15px;
}



#map.height300{height: 335px;}
.basicpost tr th em{background-image:url(../img/sprite.png); background-repeat:no-repeat; float: left; margin-right: 10px}
.basicpost tr th .s-cin{background-position:left -842px; width: 38px; height: 34px;}
.basicpost tr th .call-cin{background-position:-68px -842px; width: 38px; height: 34px;}
.basicpost tr th .sms-cin{background-position:-145px -842px; width: 38px; height: 34px;}
.basicpost tr th .data-cin{background-position:-220px -842px; width: 38px; height: 34px;}

.basicpost tr th .s-cing{background-position:left -903px; width: 38px; height: 34px;}
.basicpost tr th .call-cing{background-position:-68px -903px; width: 38px; height: 34px;}
.basicpost tr th .sms-cing{background-position:-145px -903px; width: 38px; height: 34px;}
.basicpost tr th .data-cing{background-position:-220px -903px; width: 38px; height: 34px;}
.basicpost tr th.gold{color:#917b5c;}
.basicpost tr th{font-family: "TanseekModernProArabic-Light",arial;}
.basicpost tr td{background:#f1f1f2 ; color: #7e7e84; line-height:100% !important; border-bottom:solid 2px #fff;}
.basicpost .grayrow td{background:#7f7f84; color: #ffffff; line-height:100% !important;}
.basicpost.goldtb .goldrow td{background:#917b5c; color: #ffffff; line-height:100% !important;}
.basicpost .redrow td{background:#cc0000; color: #ffffff; line-height:100% !important;}
.basicpost .whiterow td{background:#ffffff; color: #7e7e84; line-height:100% !important; border-bottom: solid 1px #f1f1f2;}
.basicpost.goldtb .redrow td{background:#cc0000; color: #ffffff; line-height:100% !important;}
.basicpost.goldtb tr td{background:#ece2d4  ; color: #917b5c; line-height:100% !important; border-bottom:solid 2px #fff;}
.postpaidslider{background: url(../img/postpaid-slide.jpg) no-repeat center center;}
.deleted{text-decoration: line-through; font-size: 18px;}
.icon6{
background: url(../img/virisgin-icon.png) no-repeat ;
    }

div.selector{ max-width: auto !important;}
    div.selector span{ max-width: auto !important;}
	.icon6:hover{
		background-position:-183px 0px;
	}
.basicpost .redrow th{background:#cc0000; color: #ffffff; line-height:100% !important; padding: 0 10px}

@media only screen and (max-width: 660px){

div.selector{ max-width: 270px !important;}
    div.selector span{ max-width: 260px !important;}
    .tablesaw-stack tbody tr {
border-bottom: 4px solid #dfdfdf;}
        
.grayrow .tablesaw-cell-label{color:#fff;}
.tablesaw-stack .redrow td .tablesaw-cell-label{display: none !important;}
.goldrow .tablesaw-cell-label{color:#fff;}
}
@media only screen and (max-width: 768px){
.prepaidstack{width: 100%}
.full768{width: 100%}
    .tablesaw thead tr:first-child th{white-space: nowrap}
}
    
/******Tabaza CSS *****/





/******** Ali.css ****/

.cap {text-transform: uppercase;}
.fifty{max-width:50%;float:left}
/*.Sim3D img{max-width:60%!important;margin-bottom:-20%}

*/
.white{color:#fff}
.vTop{vertical-align:top}
.inBlock{display:inline-block}
.txt40 {font-size:40px}
.txt35{font-size:35px}
.mart20 {margin-top:20px}
.marb22{margin-bottom:22px}
.marb60{margin-bottom:60px}
.marb40 {margin-bottom: 40px!important;}
.mart35{margin-top:35px}
.mart30{margin-top:30px}
.marb29{margin-bottom:29px}
.marb15{margin-bottom:15px}
.block,.blocks {display:block!important}
.max80{max-width:80%}
.pad0{padding:0px}
.padl0{padding-left:0px}
.padr0{padding-right:0px}
.padt35{padding-top:35px}
.padt22{padding-top:22px}
.lh267{line-height:26px!important}
.maxw30p{max-width:30%}
.maxw18p{max-width:18%}
.maxw75{max-width: 175px;}
.w100{width:100%}
.tex30 {font-size: 30px;color: #c00;font-family: "TanseekModernProArabic-Bold",arial;text-transform:uppercase}
.feat1{max-width:900px;display:block;margin:0 auto 10px auto}
.feat2{max-width:445px;display:block;float:left;margin:0 auto 10px auto}
.feat3{max-width:445px;display:block;float:right;margin:0 auto 10px auto}
.posR{position:relative}

.minusRow{margin:0px -20px}
.extraBg{height:553px;background-size:cover}


.headline {font-size:60px;color:#cc0000;text-transform:uppercase;font-family: "TanseekModernProArabic-Bold",arial;text-indent: 15%;}
.headlineBox .blockW{padding-top:10px}

ol {margin-left:68px;}
ol li {font-size: 30px;color: #c00;font-family: "TanseekModernProArabic-Bold",arial;text-transform: uppercase;}
ol li p{font-size: 28px;color: #c00;font-family: "TanseekModernProArabic-Light",arial;line-height: 1;display: block;text-transform:none}

.onBannerIcon{width:158px;height:159px;background:url(../img/sprite.png) no-repeat -212px -494px;position:absolute;left:50%;margin-left:-79px;top:50%;margin-top:-79px}

.top-forms-container{background:#fff;margin-bottom:10px;display:none}
.top-forms-container.opened{display:block}
#top-forms{margin-left:15%}
.popup{display:none;margin-bottom:15px}
#top-forms button{min-width:18%}
#top-forms .button em{left:50%}
#joinUp input{margin-bottom:10px}

.closeLink {color: #c00;
font-size: 20px;
line-height: 1;
position: absolute;
right: 5px;
z-index: 10;
top: 5px;
opacity: .5;
display: inline-block;
margin-bottom: 8px;
cursor:pointer;

}
.closeLink:hover{opacity:1;}

.closeLink em{
width: 24px;
height: 24px;
background-position: -137px -155px;
position: relative;
top: 8px;
 -webkit-transform: rotate(45deg); 
-moz-transform: rotate(45deg);  
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
	}

/****Cube*****/
.mas{width:92px;height:180px;overflow:hidden}
.cube {
	width:100%;
	text-align: center;
	margin: 0 auto;
	height: 180px;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; 
	position:relative;
}

.cube .back,.cube .current,.cube .next,.cube .box,.cube .fourth  {
	position:absolute;
	background-color: #1e1e1e;
	background-image: -webkit-linear-gradient(0deg, #1e1e1e, #2f2f2f);
	background-image: -moz-linear-gradient(0deg, #1e1e1e, #2f2f2f);
	background-image: -o-linear-gradient(0deg, #1e1e1e, #2f2f2f);
	background-image: linear-gradient(0deg, #1e1e1e, #2f2f2f);
	width:100%;
	font-family: "TanseekModernProArabic-Light",arial;
	font-size: 120px;
	color: #fff;
	line-height: 1.2;
	border-right:solid 1px #1e1e1e;
	padding-bottom: 37px;
}

.global-holder:nth-child(even) .back,.global-holder:nth-child(even) .current,.global-holder:nth-child(even) .next,.global-holder:nth-child(even) .box,.global-holder:nth-child(even) .fourth {
	background-image: -webkit-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: -moz-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: -o-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: linear-gradient(45deg, #1a1a1a, #252525);
}

.active3Dbox .back,.active3Dbox .current,.active3Dbox .next,.active3Dbox .box,.active3Dbox .fourth {
background-image: -webkit-linear-gradient(bottom, #c00, #e50000 50%) !important;
background-image: -moz-linear-gradient(bottom, #c00, #e50000 50%) !important;
background-image: -o-linear-gradient(bottom, #c00, #e50000 50%) !important;
background-image: linear-gradient(to top, #c00, #e50000 50%) !important;}

.global-holder span {width:100%;display:block;text-align:center;color:#000;padding:50px 0px ;cursor:pointer}


.cube .back {
	-webkit-transform: rotateX(90deg) translateZ(90px);
	transform: rotateX(90deg) translateZ(90px);
	top:0px;
	left:0px;
}


.cube .current {
	-webkit-transform:rotateX(0deg) translateZ(45px) translateY(0px);
	transform: rotateX(0deg) translateZ(45px) translateY(0px);
	top:0px;
	left:0px;
}

.cube .next {
	-webkit-transform: rotateX(-90deg) translateZ(-90px);
	transform: rotateX(-90deg) translateZ(-90px);
	top:180px;left:0px
}
.cube .fourth {
	
	top:0px;
	left:0px;
	}



.blacker {
	-webkit-box-shadow: -1px -1px rgba(247,55,55,.63);
	-moz-box-shadow: -1px -1px rgba(247,55,55,.63);
	box-shadow: -1px -1px rgba(247,55,55,.63);
	color:#730000;

	background-image: -webkit-linear-gradient(top, #c00, #e50000 50%);
	background-image: -moz-linear-gradient(top, #c00, #e50000 50%);
	background-image: -o-linear-gradient(top, #c00, #e50000 50%);
	background-image: linear-gradient(to bottom, #c00, #e50000 50%);
	
	}
	
.global-holder{float:left;width:16.6666667%;/*background:#181818;*/padding:38px 0px}

/*.btnArea{margin:0px}*/

.global-holder .nextBox,.global-holder .prevBox{width:100%;height:15px;padding:0px;display:block;min-height:46px;padding:11px 0px 16px}
.global-holder .nextBox b,.global-holder .prevBox b{width:23px;height:15px;background:url(../img/sprite.png) no-repeat;display:inline-block;padding:0px;color:#fff}

.global-holder .nextBox b{background-position:-281px -424px;}
.global-holder .nextBox b:hover{background-position:-324px -424px;}
.active3Dbox .nextBox b,.active3Dbox .nextBox b:hover {background-position:-241px -424px;}


.global-holder .prevBox b{background-position:-281px -468px;}
.global-holder .prevBox b:hover{background-position:-324px -468px;}
.active3Dbox .prevBox b ,.active3Dbox .prevBox b:hover{background-position:-241px -468px;}


.Sim3D{
	display:table
}
.Sim3DCont{
	display: table-cell;
	vertical-align: middle;
	text-align:center;
}

/*.a3dSim .blockW{
	padding-top:30px;
	padding-bottom:30px;
}*/

.Sim3DContent h2{
	font-size:60px;
	color:#c00;
	font-family:"TanseekModernProArabic-Bold",arial;
	line-height:.8;
	margin-top:0;
	margin-bottom:30px
}

/*@media only screen and (min-width:960px) {
	.Sim3DContent{padding:0px 5%}
	}
*/
@media only screen and (max-width:880px) {
	
	.headline {
text-indent: inherit;
text-align: left;
line-height: inherit;
padding-left: 110px;
}

.headlineBox .blockW {
padding-top: 10px;
min-height: 200px;
}
}

@media only screen and (max-width:800px) {
.txt40 {font-size:30px}
.tex28l{font-size:24px}
	}

@media only screen and (max-width:680px) {
.txt40 {font-size:21px}
.tex28l{font-size:18px}
.tex60 {font-size:40px}


	}


@media only screen and (max-width: 640px) {
	
		.basicpost .whiterow td:first-child{
			background:#c00;
			color:#fff;
		}
		
		.basicpost.goldtb tr td:first-child {
			background: #917b5c;
			color: #ece2d4;
		}
		.basicpost.goldtb tr td:first-child .tablesaw-cell-label{
			color: #ece2d4 !important;
		}
		
		.basicpost .whiterow td:first-child .tablesaw-cell-label{
			color:#fff !important;
		}
		
		.headline {font-size: 40px;padding-left: 70px;line-height:1}
		.headlineBox .blockW{min-height:120px;}
	
}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 320px) {

.cube .back, .cube .current, .cube .next,.cube .fourth{font-size:60px;padding-bottom:20px}

.cube .current{z-index:10}
.cube .back,.cube .next{z-index:9}
.cube .fourth{z-index:8;}


.cube{height:90px}
.cube .back{transform: rotateX(90deg) translateZ(45px);}
.cube .next{transform: rotateX(-90deg) translateZ(-135px);}

.btnArea {

padding: 20px 10px;
}
.btnArea button, .btnArea .button {
font-size: 18px;
padding: 10px 10px 14px 14px;
}
	
}




/**** Ali.css****/
