.titleBlock span{
	line-height:.5
}
input[type="text"].digit {
	line-height: 1.6;
}

.HVCenter {
	padding-top: 3.200rem;
}

/***************/
.btn .txt{
	padding: 6px 0 0;
}

.linkUnderLine.fr {
margin-top: 20px;
}

.btnNvigating a.btn.lArrow{
background-position: -494px -42px;	
}

.checkBtns{
	.btn{
		
		padding: 0 0 2px;
	}
}

button.btn, .btn.button, input.btn, .btnNvigating input.btn, .btnNvigating a.btn{

	padding:0 0 2px;
}
html{
 text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}