$breadCrumbLnkColor:#8a8a8a;
$breadCrumbActiveLnkColor:#fff;
$breadCrumbBg:#181818;
$breadCrumbTopBorder:#1c1c1c;
$breadCrumbBottomBorder:#131313;
$txtColor:#c00;
/*******************/

$mainTitleColor:#181818;
$btnBg:#c00;
$btnBgHover:#f00;
$btnTxtColor:#fff;
$priceTag:#fff;
$footerBg:#181818;
$noteFieldColor:#8B8B8B;
$noteFieldSize:1.3rem;
$txtColorNotAvailable:#181818;
$redTxt:#c00;

@mixin letter-width($x:2.0,$y:1.0){
-webkit-transform:scale($x, $y);
-moz-transform:scale($x, $y);
-ms-transform:scale($x, $y);
-o-transform:scale($x, $y);
transform:scale($x, $y);
}
   
@mixin border-radius($radius:20px){
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    border-radius: $radius !important;
}

@mixin box-shadow($l:0px,$t:0px,$rc:0,$gc:0,$bc:0,$opaciy:1){
-webkit-box-shadow: $l $t rgba($rc,$gc,$bc,$opaciy);
    box-shadow: $l $t rgba($rc,$gc,$bc,$opaciy);
}


/*******************/
/*******************/
@font-face {
	font-family: 'TanseekModernProArabic-Light';
	src: url('../fonts/TanseekModernProArabic-Light.eot?') format('eot'),
	      
	     url('../fonts/TanseekModernProArabic-Light.woff') format('woff'), 
	     url('../fonts/TanseekModernProArabic-Light.ttf')  format('truetype'),
		 url('../fonts/TanseekModernProArabic-Light.svg#TanseekModernProArabic-Light') format('svg');
}

@font-face {
	font-family: 'TanseekModernProArabic-Medium';
	src: url('../fonts/TanseekModernProArabic-Medium.eot?') format('eot'),
	      
	     url('../fonts/TanseekModernProArabic-Medium.woff') format('woff'), 
	     url('../fonts/TanseekModernProArabic-Medium.ttf')  format('truetype'),
		 url('../fonts/TanseekModernProArabic-Medium.svg#TanseekModernProArabic-Medium') format('svg');
}

@font-face {
	font-family: 'TanseekModernProArabic-Bold';
	src: url('../fonts/TanseekModernProArabic-Bold.eot?') format('eot'),
	     
	     url('../fonts/TanseekModernProArabic-Bold.woff') format('woff'), 
	     url('../fonts/TanseekModernProArabic-Bold.ttf')  format('truetype'),
		 url('../fonts/TanseekModernProArabic-Bold.svg#TanseekModernProArabic-Bold') format('svg');
}
/*******************/
/* Icon Fonts
*********************************/


@font-face {
	font-family: 'Metrize-Icons';
	src:url('../fonts/Metrize-Icons.eot');
	src:url('../fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Metrize-Icons.woff') format('woff'),
		url('../fonts/Metrize-Icons.ttf') format('truetype'),
		url('../fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Metrize-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-yen, .icon-world, .icon-wireframe-globe, .icon-wind, .icon-wifi, .icon-waves, .icon-viewport, .icon-viewport-video, .icon-user, .icon-user-remove, .icon-user-ban, .icon-user-add, .icon-upload, .icon-upload-selection, .icon-upload-selection-circle, .icon-underline, .icon-triple-points, .icon-top-bottom, .icon-three-points, .icon-three-points-top, .icon-three-points-bottom, .icon-text-width, .icon-text-size-upper, .icon-text-size-reduce, .icon-text-paragraph, .icon-text-normal, .icon-text-justify-right, .icon-text-justify-left, .icon-text-justify-center, .icon-text-height, .icon-text-center, .icon-text-bold, .icon-text-align-right, .icon-text-align-left, .icon-telephone, .icon-sunshine, .icon-sun, .icon-stop, .icon-star, .icon-speed, .icon-sound-on, .icon-sound-off, .icon-sos, .icon-social-zerply, .icon-social-youtube, .icon-social-yelp, .icon-social-yahoo, .icon-social-wordpress, .icon-social-virb, .icon-social-vimeo, .icon-social-viddler, .icon-social-twitter, .icon-social-tumblr, .icon-social-stumbleupon, .icon-social-soundcloud, .icon-social-skype, .icon-social-sharethis, .icon-social-quora, .icon-social-pinterest, .icon-social-photobucket, .icon-social-paypal, .icon-social-myspace, .icon-social-linkedin, .icon-social-last-fm, .icon-social-grooveshark, .icon-social-google-plus, .icon-social-github, .icon-social-forrst, .icon-social-flickr, .icon-social-facebook, .icon-social-evernote, .icon-social-envato, .icon-social-email, .icon-social-dribbble, .icon-social-digg, .icon-social-deviantart, .icon-social-blogger, .icon-social-behance, .icon-social-bebo, .icon-social-addthis, .icon-social-500px, .icon-snow, .icon-sliders, .icon-sliders-vertical, .icon-sign-male, .icon-sign-female, .icon-shield, .icon-settings, .icon-setting, .icon-select-square, .icon-select-circle, .icon-search, .icon-scale, .icon-rules, .icon-rss, .icon-retweet, .icon-report-comment, .icon-refresh, .icon-rec, .icon-random, .icon-quote, .icon-question, .icon-previous-fast-step, .icon-prev-step, .icon-pounds, .icon-podcast, .icon-plus, .icon-play, .icon-pin, .icon-pin-map, .icon-pig-money, .icon-pause, .icon-paperclip, .icon-paperclip-oblique, .icon-options-settings, .icon-officine, .icon-officine-2, .icon-off, .icon-number-zero, .icon-number-two, .icon-number-three, .icon-number-six, .icon-number-seven, .icon-number-one, .icon-number-nine, .icon-number-four, .icon-number-five, .icon-number-eight, .icon-next-step, .icon-next-fast-step, .icon-music, .icon-multi-borders, .icon-minus, .icon-marker, .icon-marker-points, .icon-marker-minus, .icon-marker-add, .icon-map, .icon-male-symbol, .icon-mailbox, .icon-mail, .icon-magnet, .icon-magic-wand, .icon-login-lock-refresh, .icon-locked, .icon-location, .icon-location-maps, .icon-list-square, .icon-list-circle, .icon-link-url, .icon-line-through, .icon-limit-directions, .icon-like-upload, .icon-like-remove, .icon-like-download, .icon-like-close, .icon-like-ban, .icon-like-add, .icon-left-right, .icon-leaf, .icon-layers, .icon-landscape, .icon-key, .icon-italic, .icon-info, .icon-idea, .icon-home-wifi, .icon-heart, .icon-hdd, .icon-hdd-raid, .icon-hdd-net, .icon-grids, .icon-grid-big, .icon-graphs, .icon-forward, .icon-fire, .icon-female-symbol, .icon-eye, .icon-eye-disabled, .icon-expand, .icon-expand-vertical, .icon-expand-horizontal, .icon-expand-directions, .icon-exclamation, .icon-euro, .icon-email-upload, .icon-email-spam, .icon-email-remove, .icon-email-luminosity, .icon-email-download, .icon-email-close, .icon-email-add, .icon-eject, .icon-drops, .icon-drop, .icon-download, .icon-download-selection, .icon-download-selection-circle, .icon-double-diamonds, .icon-dot-square, .icon-dot-line, .icon-dot-circle, .icon-dollar, .icon-documents, .icon-document, .icon-document-fill, .icon-directions, .icon-cross, .icon-credit-card, .icon-copy-paste-document, .icon-copy-document, .icon-contract-vertical, .icon-contract-horizontal, .icon-contract-directions, .icon-compass, .icon-compass-2, .icon-comments, .icon-comment, .icon-coins, .icon-cloud, .icon-cloud-upload, .icon-cloud-remove, .icon-cloud-download, .icon-cloud-add, .icon-clock, .icon-circles, .icon-check, .icon-chat, .icon-chart-down, .icon-cd-dvd-rom, .icon-camera, .icon-button-question, .icon-button-minus, .icon-button-exclamation, .icon-button-email, .icon-button-close, .icon-button-check, .icon-button-add, .icon-brush, .icon-browser-sizes, .icon-box-remove, .icon-box-close, .icon-box-blank, .icon-box-add, .icon-bolt, .icon-block-menu, .icon-blank, .icon-bezier, .icon-bars, .icon-ban-circle, .icon-bag, .icon-backward, .icon-axis-rules, .icon-atom, .icon-arrow-up, .icon-arrow-up-thin, .icon-arrow-up-light, .icon-arrow-up-bold, .icon-arrow-up-bold-round, .icon-arrow-up-big, .icon-arrow-right, .icon-arrow-right-thin, .icon-arrow-right-light, .icon-arrow-right-bold, .icon-arrow-right-bold-round, .icon-arrow-right-big, .icon-arrow-oblique-expand, .icon-arrow-oblique-expand-directions, .icon-arrow-oblique-contract, .icon-arrow-oblique-contract-directions, .icon-arrow-multi-line-up, .icon-arrow-multi-line-right, .icon-arrow-multi-line-left, .icon-arrow-multi-line-down, .icon-arrow-left, .icon-arrow-left-thin, .icon-arrow-left-light, .icon-arrow-left-bold, .icon-arrow-left-bold-round, .icon-arrow-left-big, .icon-arrow-fill-up, .icon-arrow-fill-right, .icon-arrow-fill-left, .icon-arrow-fill-down, .icon-arrow-down, .icon-arrow-down-thin, .icon-arrow-down-light, .icon-arrow-down-bold, .icon-arrow-down-bold-round, .icon-arrow-down-big, .icon-arrow-cycling, .icon-arrow-cycle, .icon-arrow-curve-right, .icon-arrow-curve-recycle, .icon-arrow-curve-left, .icon-animal-footprint, .icon-alarm-clock, .icon-air-plane, .icon-adjust, .icon-cube {
	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-yen:before {
	content: "\e000";
}
.icon-world:before {
	content: "\e001";
}
.icon-wireframe-globe:before {
	content: "\e002";
}
.icon-wind:before {
	content: "\e003";
}
.icon-wifi:before {
	content: "\e004";
}
.icon-waves:before {
	content: "\e005";
}
.icon-viewport:before {
	content: "\e006";
}
.icon-viewport-video:before {
	content: "\e007";
}
.icon-user:before {
	content: "\e008";
}
.icon-user-remove:before {
	content: "\e009";
}
.icon-user-ban:before {
	content: "\e00a";
}
.icon-user-add:before {
	content: "\e00b";
}
.icon-upload:before {
	content: "\e00c";
}
.icon-upload-selection:before {
	content: "\e00d";
}
.icon-upload-selection-circle:before {
	content: "\e00e";
}
.icon-underline:before {
	content: "\e00f";
}
.icon-triple-points:before {
	content: "\e010";
}
.icon-top-bottom:before {
	content: "\e011";
}
.icon-three-points:before {
	content: "\e012";
}
.icon-three-points-top:before {
	content: "\e013";
}
.icon-three-points-bottom:before {
	content: "\e014";
}
.icon-text-width:before {
	content: "\e015";
}
.icon-text-size-upper:before {
	content: "\e016";
}
.icon-text-size-reduce:before {
	content: "\e017";
}
.icon-text-paragraph:before {
	content: "\e018";
}
.icon-text-normal:before {
	content: "\e019";
}
.icon-text-justify-right:before {
	content: "\e01a";
}
.icon-text-justify-left:before {
	content: "\e01b";
}
.icon-text-justify-center:before {
	content: "\e01c";
}
.icon-text-height:before {
	content: "\e01d";
}
.icon-text-center:before {
	content: "\e01e";
}
.icon-text-bold:before {
	content: "\e01f";
}
.icon-text-align-right:before {
	content: "\e020";
}
.icon-text-align-left:before {
	content: "\e021";
}
.icon-telephone:before {
	content: "\e022";
}
.icon-sunshine:before {
	content: "\e023";
}
.icon-sun:before {
	content: "\e024";
}
.icon-stop:before {
	content: "\e025";
}
.icon-star:before {
	content: "\e026";
}
.icon-speed:before {
	content: "\e027";
}
.icon-sound-on:before {
	content: "\e028";
}
.icon-sound-off:before {
	content: "\e029";
}
.icon-sos:before {
	content: "\e02a";
}
.icon-social-zerply:before {
	content: "\e02b";
}
.icon-social-youtube:before {
	content: "\e02c";
}
.icon-social-yelp:before {
	content: "\e02d";
}
.icon-social-yahoo:before {
	content: "\e02e";
}
.icon-social-wordpress:before {
	content: "\e02f";
}
.icon-social-virb:before {
	content: "\e030";
}
.icon-social-vimeo:before {
	content: "\e031";
}
.icon-social-viddler:before {
	content: "\e032";
}
.icon-social-twitter:before {
	content: "\e033";
}
.icon-social-tumblr:before {
	content: "\e034";
}
.icon-social-stumbleupon:before {
	content: "\e035";
}
.icon-social-soundcloud:before {
	content: "\e036";
}
.icon-social-skype:before {
	content: "\e037";
}
.icon-social-sharethis:before {
	content: "\e038";
}
.icon-social-quora:before {
	content: "\e039";
}
.icon-social-pinterest:before {
	content: "\e03a";
}
.icon-social-photobucket:before {
	content: "\e03b";
}
.icon-social-paypal:before {
	content: "\e03c";
}
.icon-social-myspace:before {
	content: "\e03d";
}
.icon-social-linkedin:before {
	content: "\e03e";
}
.icon-social-last-fm:before {
	content: "\e03f";
}
.icon-social-grooveshark:before {
	content: "\e040";
}
.icon-social-google-plus:before {
	content: "\e041";
}
.icon-social-github:before {
	content: "\e042";
}
.icon-social-forrst:before {
	content: "\e043";
}
.icon-social-flickr:before {
	content: "\e044";
}
.icon-social-facebook:before {
	content: "\e045";
}
.icon-social-evernote:before {
	content: "\e046";
}
.icon-social-envato:before {
	content: "\e047";
}
.icon-social-email:before {
	content: "\e048";
}
.icon-social-dribbble:before {
	content: "\e049";
}
.icon-social-digg:before {
	content: "\e04a";
}
.icon-social-deviantart:before {
	content: "\e04b";
}
.icon-social-blogger:before {
	content: "\e04c";
}
.icon-social-behance:before {
	content: "\e04d";
}
.icon-social-bebo:before {
	content: "\e04e";
}
.icon-social-addthis:before {
	content: "\e04f";
}
.icon-social-500px:before {
	content: "\e050";
}
.icon-snow:before {
	content: "\e051";
}
.icon-sliders:before {
	content: "\e052";
}
.icon-sliders-vertical:before {
	content: "\e053";
}
.icon-sign-male:before {
	content: "\e054";
}
.icon-sign-female:before {
	content: "\e055";
}
.icon-shield:before {
	content: "\e056";
}
.icon-settings:before {
	content: "\e057";
}
.icon-setting:before {
	content: "\e058";
}
.icon-select-square:before {
	content: "\e059";
}
.icon-select-circle:before {
	content: "\e05a";
}
.icon-search:before {
	content: "\e05b";
}
.icon-scale:before {
	content: "\e05c";
}
.icon-rules:before {
	content: "\e05d";
}
.icon-rss:before {
	content: "\e05e";
}
.icon-retweet:before {
	content: "\e05f";
}
.icon-report-comment:before {
	content: "\e060";
}
.icon-refresh:before {
	content: "\e061";
}
.icon-rec:before {
	content: "\e062";
}
.icon-random:before {
	content: "\e063";
}
.icon-quote:before {
	content: "\e064";
}
.icon-question:before {
	content: "\e065";
}
.icon-previous-fast-step:before {
	content: "\e066";
}
.icon-prev-step:before {
	content: "\e067";
}
.icon-pounds:before {
	content: "\e068";
}
.icon-podcast:before {
	content: "\e069";
}
.icon-plus:before {
	content: "\e06a";
}
.icon-play:before {
	content: "\e06b";
}
.icon-pin:before {
	content: "\e06c";
}
.icon-pin-map:before {
	content: "\e06d";
}
.icon-pig-money:before {
	content: "\e06e";
}
.icon-pause:before {
	content: "\e06f";
}
.icon-paperclip:before {
	content: "\e070";
}
.icon-paperclip-oblique:before {
	content: "\e071";
}
.icon-options-settings:before {
	content: "\e072";
}
.icon-officine:before {
	content: "\e073";
}
.icon-officine-2:before {
	content: "\e074";
}
.icon-off:before {
	content: "\e075";
}
.icon-number-zero:before {
	content: "\e076";
}
.icon-number-two:before {
	content: "\e077";
}
.icon-number-three:before {
	content: "\e078";
}
.icon-number-six:before {
	content: "\e079";
}
.icon-number-seven:before {
	content: "\e07a";
}
.icon-number-one:before {
	content: "\e07b";
}
.icon-number-nine:before {
	content: "\e07c";
}
.icon-number-four:before {
	content: "\e07d";
}
.icon-number-five:before {
	content: "\e07e";
}
.icon-number-eight:before {
	content: "\e07f";
}
.icon-next-step:before {
	content: "\e080";
}
.icon-next-fast-step:before {
	content: "\e081";
}
.icon-music:before {
	content: "\e082";
}
.icon-multi-borders:before {
	content: "\e083";
}
.icon-minus:before {
	content: "\e084";
}
.icon-marker:before {
	content: "\e085";
}
.icon-marker-points:before {
	content: "\e086";
}
.icon-marker-minus:before {
	content: "\e087";
}
.icon-marker-add:before {
	content: "\e088";
}
.icon-map:before {
	content: "\e089";
}
.icon-male-symbol:before {
	content: "\e08a";
}
.icon-mailbox:before {
	content: "\e08b";
}
.icon-mail:before {
	content: "\e08c";
}
.icon-magnet:before {
	content: "\e08d";
}
.icon-magic-wand:before {
	content: "\e08e";
}
.icon-login-lock-refresh:before {
	content: "\e08f";
}
.icon-locked:before {
	content: "\e090";
}
.icon-location:before {
	content: "\e091";
}
.icon-location-maps:before {
	content: "\e092";
}
.icon-list-square:before {
	content: "\e093";
}
.icon-list-circle:before {
	content: "\e094";
}
.icon-link-url:before {
	content: "\e095";
}
.icon-line-through:before {
	content: "\e096";
}
.icon-limit-directions:before {
	content: "\e097";
}
.icon-like-upload:before {
	content: "\e098";
}
.icon-like-remove:before {
	content: "\e099";
}
.icon-like-download:before {
	content: "\e09a";
}
.icon-like-close:before {
	content: "\e09b";
}
.icon-like-ban:before {
	content: "\e09c";
}
.icon-like-add:before {
	content: "\e09d";
}
.icon-left-right:before {
	content: "\e09e";
}
.icon-leaf:before {
	content: "\e09f";
}
.icon-layers:before {
	content: "\e0a0";
}
.icon-landscape:before {
	content: "\e0a1";
}
.icon-key:before {
	content: "\e0a2";
}
.icon-italic:before {
	content: "\e0a3";
}
.icon-info:before {
	content: "\e0a4";
}
.icon-idea:before {
	content: "\e0a5";
}
.icon-home-wifi:before {
	content: "\e0a6";
}
.icon-heart:before {
	content: "\e0a7";
}
.icon-hdd:before {
	content: "\e0a8";
}
.icon-hdd-raid:before {
	content: "\e0a9";
}
.icon-hdd-net:before {
	content: "\e0aa";
}
.icon-grids:before {
	content: "\e0ab";
}
.icon-grid-big:before {
	content: "\e0ac";
}
.icon-graphs:before {
	content: "\e0ad";
}
.icon-forward:before {
	content: "\e0ae";
}
.icon-fire:before {
	content: "\e0af";
}
.icon-female-symbol:before {
	content: "\e0b0";
}
.icon-eye:before {
	content: "\e0b1";
}
.icon-eye-disabled:before {
	content: "\e0b2";
}
.icon-expand:before {
	content: "\e0b3";
}
.icon-expand-vertical:before {
	content: "\e0b4";
}
.icon-expand-horizontal:before {
	content: "\e0b5";
}
.icon-expand-directions:before {
	content: "\e0b6";
}
.icon-exclamation:before {
	content: "\e0b7";
}
.icon-euro:before {
	content: "\e0b8";
}
.icon-email-upload:before {
	content: "\e0b9";
}
.icon-email-spam:before {
	content: "\e0ba";
}
.icon-email-remove:before {
	content: "\e0bb";
}
.icon-email-luminosity:before {
	content: "\e0bc";
}
.icon-email-download:before {
	content: "\e0bd";
}
.icon-email-close:before {
	content: "\e0be";
}
.icon-email-add:before {
	content: "\e0bf";
}
.icon-eject:before {
	content: "\e0c0";
}
.icon-drops:before {
	content: "\e0c1";
}
.icon-drop:before {
	content: "\e0c2";
}
.icon-download:before {
	content: "\e0c3";
}
.icon-download-selection:before {
	content: "\e0c4";
}
.icon-download-selection-circle:before {
	content: "\e0c5";
}
.icon-double-diamonds:before {
	content: "\e0c6";
}
.icon-dot-square:before {
	content: "\e0c7";
}
.icon-dot-line:before {
	content: "\e0c8";
}
.icon-dot-circle:before {
	content: "\e0c9";
}
.icon-dollar:before {
	content: "\e0ca";
}
.icon-documents:before {
	content: "\e0cb";
}
.icon-document:before {
	content: "\e0cc";
}
.icon-document-fill:before {
	content: "\e0cd";
}
.icon-directions:before {
	content: "\e0ce";
}
.icon-cross:before {
	content: "\e0cf";
}
.icon-credit-card:before {
	content: "\e0d0";
}
.icon-copy-paste-document:before {
	content: "\e0d1";
}
.icon-copy-document:before {
	content: "\e0d2";
}
.icon-contract-vertical:before {
	content: "\e0d3";
}
.icon-contract-horizontal:before {
	content: "\e0d4";
}
.icon-contract-directions:before {
	content: "\e0d5";
}
.icon-compass:before {
	content: "\e0d6";
}
.icon-compass-2:before {
	content: "\e0d7";
}
.icon-comments:before {
	content: "\e0d8";
}
.icon-comment:before {
	content: "\e0d9";
}
.icon-coins:before {
	content: "\e0da";
}
.icon-cloud:before {
	content: "\e0db";
}
.icon-cloud-upload:before {
	content: "\e0dc";
}
.icon-cloud-remove:before {
	content: "\e0dd";
}
.icon-cloud-download:before {
	content: "\e0de";
}
.icon-cloud-add:before {
	content: "\e0df";
}
.icon-clock:before {
	content: "\e0e0";
}
.icon-circles:before {
	content: "\e0e1";
}
.icon-check:before {
	content: "\e0e2";
}
.icon-chat:before {
	content: "\e0e3";
}
.icon-chart-down:before {
	content: "\e0e4";
}
.icon-cd-dvd-rom:before {
	content: "\e0e5";
}
.icon-camera:before {
	content: "\e0e6";
}
.icon-button-question:before {
	content: "\e0e7";
}
.icon-button-minus:before {
	content: "\e0e8";
}
.icon-button-exclamation:before {
	content: "\e0e9";
}
.icon-button-email:before {
	content: "\e0ea";
}
.icon-button-close:before {
	content: "\e0eb";
}
.icon-button-check:before {
	content: "\e0ec";
}
.icon-button-add:before {
	content: "\e0ed";
}
.icon-brush:before {
	content: "\e0ee";
}
.icon-browser-sizes:before {
	content: "\e0ef";
}
.icon-box-remove:before {
	content: "\e0f0";
}
.icon-box-close:before {
	content: "\e0f1";
}
.icon-box-blank:before {
	content: "\e0f2";
}
.icon-box-add:before {
	content: "\e0f3";
}
.icon-bolt:before {
	content: "\e0f4";
}
.icon-block-menu:before {
	content: "\e0f5";
}
.icon-blank:before {
	content: "\e0f6";
}
.icon-bezier:before {
	content: "\e0f7";
}
.icon-bars:before {
	content: "\e0f8";
}
.icon-ban-circle:before {
	content: "\e0f9";
}
.icon-bag:before {
	content: "\e0fa";
}
.icon-backward:before {
	content: "\e0fb";
}
.icon-axis-rules:before {
	content: "\e0fc";
}
.icon-atom:before {
	content: "\e0fd";
}
.icon-arrow-up:before {
	content: "\e0fe";
}
.icon-arrow-up-thin:before {
	content: "\e0ff";
}
.icon-arrow-up-light:before {
	content: "\e100";
}
.icon-arrow-up-bold:before {
	content: "\e101";
}
.icon-arrow-up-bold-round:before {
	content: "\e102";
}
.icon-arrow-up-big:before {
	content: "\e103";
}
.icon-arrow-right:before {
	content: "\e104";
}
.icon-arrow-right-thin:before {
	content: "\e105";
}
.icon-arrow-right-light:before {
	content: "\e106";
}
.icon-arrow-right-bold:before {
	content: "\e107";
}
.icon-arrow-right-bold-round:before {
	content: "\e108";
}
.icon-arrow-right-big:before {
	content: "\e109";
}
.icon-arrow-oblique-expand:before {
	content: "\e10a";
}
.icon-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.icon-arrow-oblique-contract:before {
	content: "\e10c";
}
.icon-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.icon-arrow-multi-line-up:before {
	content: "\e10e";
}
.icon-arrow-multi-line-right:before {
	content: "\e10f";
}
.icon-arrow-multi-line-left:before {
	content: "\e110";
}
.icon-arrow-multi-line-down:before {
	content: "\e111";
}
.icon-arrow-left:before {
	content: "\e112";
}
.icon-arrow-left-thin:before {
	content: "\e113";
}
.icon-arrow-left-light:before {
	content: "\e114";
}
.icon-arrow-left-bold:before {
	content: "\e115";
}
.icon-arrow-left-bold-round:before {
	content: "\e116";
}
.icon-arrow-left-big:before {
	content: "\e117";
}
.icon-arrow-fill-up:before {
	content: "\e118";
}
.icon-arrow-fill-right:before {
	content: "\e119";
}
.icon-arrow-fill-left:before {
	content: "\e11a";
}
.icon-arrow-fill-down:before {
	content: "\e11b";
}
.icon-arrow-down:before {
	content: "\e11c";
}
.icon-arrow-down-thin:before {
	content: "\e11d";
}
.icon-arrow-down-light:before {
	content: "\e11e";
}
.icon-arrow-down-bold:before {
	content: "\e11f";
}
.icon-arrow-down-bold-round:before {
	content: "\e120";
}
.icon-arrow-down-big:before {
	content: "\e121";
}
.icon-arrow-cycling:before {
	content: "\e122";
}
.icon-arrow-cycle:before {
	content: "\e123";
}
.icon-arrow-curve-right:before {
	content: "\e124";
}
.icon-arrow-curve-recycle:before {
	content: "\e125";
}
.icon-arrow-curve-left:before {
	content: "\e126";
}
.icon-animal-footprint:before {
	content: "\e127";
}
.icon-alarm-clock:before {
	content: "\e128";
}
.icon-air-plane:before {
	content: "\e129";
}
.icon-adjust:before {
	content: "\e12a";
}
.icon-cube:before {
	content: "\e12b";
}







/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff') format('woff'),
		url('../fonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}




 
.redBox input[type="text"].txtField.full, .redBox input[type="password"].txtField.full, .redBox input[type="email"].txtField.full, .redBox input[type="number"].txtField.full
{width:100%}

.redBox select{margin-bottom:0}


.registrationBlock{color:#fff;}
.registrationBlock a{display:inline-block;color:#fff;border-bottom:1px solid #fff;}
.registrationBlock p{font-size:22px;line-height:.9}
.registrationBlock .title{font-family:"TanseekModernProArabic-Bold",arial; font-size:32px;margin-bottom:10px;line-height:.8}
.registrationBlock .button{margin-bottom:0}

.redBox .marb-10{margin-bottom:10px !important}

.checkBox label{font-family:"TanseekModernProArabic-Medium",arial; font-size:20px}

.errorList{color:#fff;font-size:20px;border-top:1px solid #b90600;margin:20px -20px 0;padding:10px 20px 0}


.redBox .sep{height:1px;border-top:1px solid #b90600;margin:20px -20px;}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}


.redBox input[type="text"].txtField, .redBox input[type="password"].txtField, .redBox input[type="email"].txtField, .redBox input[type="number"].txtField{
	height:41px  !important;
	padding-bottom:0;
	padding-top:0;
}


  .chooseUniqueNumberBox,.shareLink,.checkBox label{
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	 }



.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {

min-width: 50% !important;

}

.tablesaw-cell-label{color:#c00 !important}
  .goldrow .tablesaw-cell-label{color:#fff !important}
  .grayrow  .tablesaw-cell-label{color:#fff !important}


.textDescPlan{color:#c00;text-transform:uppercase;margin-bottom:20px}

#location {margin-top:10px;display:none}
#location input{width:60%}
#location .button{margin-bottom:0;top:-2px}

#map img {
    max-width: inherit !important;
}


.mapOverlay{
	background:#fff;
	color:#c00;
	padding:20px 15px 15px;
	position:absolute;
	right:1px;
	top:1px;
	z-index:9999;
	width:50%;
	font-size:20px;
	border:1px solid #e4e4e6;
}

.storeName,.openingTime{font-family:"TanseekModernProArabic-Bold",arial;}
.openingTime{margin-top:10px}
#closeStore{position:absolute;top:10px;right:10px;font-family:arial;font-weight:700;cursor:pointer}

.rememberMe{visibility:hidden}

.breadcrumbs{
display:none;
}

.logoAreaMob{display:none;}
input[type="text"].error,
input[type="number"].error,
input[type="email"].error,
input[type="password"].error{
border:2px solid #fff !important;	
display:inline-block;
}
.error{
	font-size: 20px;
	color: #fff;
	font-family: TanseekModernProArabic-Light;
	line-height: .9;
	padding-top: 5px;
	display:none
}


.daysLeft{
	background:url(../img/emptyCircle.png) no-repeat;
	width:178px;
	height:179px;
	margin:0 auto;
	color:#c00;
	text-align:center;
	.day{font-size:119px;font-family:"TanseekModernProArabic-Bold",arial;line-height:1.2}
	.txt{font-size:20px;position: relative;
top: -25px;}
}


.nearestStoreBox {

	.searchBox{background:#181818;border-color:#181818;
	input[type="text"]{color:#fff;text-transform:uppercase}
	::-webkit-input-placeholder { /* WebKit browsers */
    	color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #fff;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #fff;
	}
	
	}
	.searchBox input[type="submit"]{background-color: #2d2d2d;}	
	
	
}

.needHelp{
	.searchBox{background:#181818;border-color:#181818;}
	.whiteBox{display:none}
	.searchBox input[type="submit"]{background-color: #2d2d2d;}	
	::-webkit-input-placeholder { /* WebKit browsers */
    	color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #fff;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #fff;
	}
	
}


header{
	background:#fff;
	border-bottom:1px solid #c6c6c6;
	padding: 0 0 18px;
	a{
		color:#c00;
	}
}

.sprite,
.shareBox a,
#lang a,
.readMore,

.followLinks a,
.more em,
.readPost em,
div.selector,
.socialLnk a,
div.selector span,
input[type="checkbox"] + label span,
.sharOverlay a{
    background-image: url(../img/sprite.png);
	background-repeat:no-repeat;
    display: inline-block;
}

body{
    background:#f1f1f2;
	font-weight:400;
	font-size: 1.500rem;
	font-family:"TanseekModernProArabic-Medium",arial;	
}


.row {
	width:100%;
	max-width: 83.125rem;
}

nav.medium-offset-2 {
margin-left: 14% !important;
}

a.seemore{-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px #d7d7d8;
	-moz-box-shadow: 0 1px #d7d7d8;
	box-shadow: 0 1px #d7d7d8;
	margin-top:20px;
	color:#7440c9;
	font-size:23px;
	font-family:'TanseekModernProArabic-Medium',arial;
	display:block;
	text-align:right;
	padding:10px;
	text-transform:uppercase;
	&:hover{color:#7440c9;}
	em{
		width:13px;
		height:13px;
		background-position:-451px -41px;
		position: relative;
		top: 1px;
		margin-left: 10px;
	}
	&.upDown{
		em{background-position:-474px -41px;}
	}
	&.opened{
		em{background-position:-496px -41px;}
		}
}
	

.moreQuestions{display:none}


.howGetNumber{
	float:left !important;
	.blockW{background:#c00;color:#fff}
	h2{color:#fff;}
	.borderB{border-bottom-color:#af0900}
	.shareLink{color:#fff;}
	.readPost{color:#fff;
	em{background-position:-193px 0}}
}

#map.height340{height:340px}

.imgBadge{
	width:178px;
	height:179px;
	background-size:cover;
	font-size:63px;
	font-family:'TanseekModernProArabic-Bold',arial;
	display:block;
	float:left;
	text-transform:uppercase;
	text-align:center;
	line-height: 2.6;
}

.goldNumber{
	.imgBadge{
		background:url(../img/goldCircle.png) no-repeat; 	
		color:#ffc210;
	}	
}

.silverNumber{
	.imgBadge{
		background:url(../img/silverCircle.png) no-repeat; 	
		color:#a9ab9d;
	}	
}

.freeNumber{
	.imgBadge{
		background:url(../img/freeCircle.png) no-repeat; 	
		color:#732a92;
	}	
}

.chooseGoldSilver .blockW{padding-bottom:47px}

/******Search Result ******/
.lblTitle{font-size:30px;font-family:'TanseekModernProArabic-Light',arial;color:#484848}

.fullSearchBox {
	overflow:hidden;
	margin-bottom:50px;
	.cell{width:110px;float:left}
	.searchBox{margin-left:115px}
}
.resultNum{color:#7d7d7d;font-size:25px;font-family:'TanseekModernProArabic-Light',arial;}
.pagingSep{border-bottom:3px solid #f1f1f2;margin:0 0 20px !important;padding-bottom: 15px;padding-top: 10px;}

.searchResultList{
	list-style:none;
	margin:0 0 85px;
	li.row{margin-bottom:22px}
}

.resultImg img{width:100%}
.resultDesc{
	span{display:block;line-height:1;padding-left:10px}
	.resultTitle{color:#c00;font-size:30px;font-family:'TanseekModernProArabic-Medium',arial;}
	.resultTxt{color:#484848;font-size:28px;font-family:'TanseekModernProArabic-Light',arial;}
	.resultURL{color:#c00;font-size:28px;font-family:'TanseekModernProArabic-Light',arial;}
	
}
.resultPaging{text-align:right;
a{
	display:inline-block;
	min-width: 25px;
	text-align:center;
	color:#c00;
	font-size:25px;
	font-family:'TanseekModernProArabic-Light',arial;
	padding: 0px 5px 5px;
	&:hover,&.on{background:#484848;color:#fff}
	&.pagingArrow{
		font-size: 50px;
		margin-top: -42px;
		position: relative;
		top: 3px;
		&:hover{background:none;color:#c00}
	}
}
}


.resultPaging.text-center{
	min-height: 33px;
overflow: hidden;
 a{font-size:30px}
a.pagingArrow{font-size: 50px;}
	.pagingArrow span{
		font-size: 30px;
		font-family: 'TanseekModernProArabic-Bold',arial;
		position: relative;
top: -3px;
text-transform:uppercase;
padding: 0 5px;	
	}
	
}

.withoutImg {
	.resultImg{display:none}
	.resultDesc{
		width:auto;
		span{padding-left:0}
	}
	
}

/*********/



/*******/
.GetNumberDesc{margin-bottom:20px}
.point{font-size: 30px;
		font-family: 'TanseekModernProArabic-Bold',arial;color:#fff;text-transform:uppercase}
.pointDesc{font-size: 30px;
		font-family: 'TanseekModernProArabic-Light',arial;}


/******/


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c00;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c00;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c00;
}


.topuptalking{
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c00;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c00;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c00;
}	
}


.breadcrumbs {
  font:400  1.563rem 'TanseekModernProArabic-Bold',arial;
  color: #8a8a8a;
  text-transform: uppercase;
  text-shadow: 1px 1.732px 0px #000;
    @include border-radius(0);
    background: none;
    border: none;
padding: .7rem 0.875rem 0;
margin-bottom: 0;
    
}
.breadcrumbs > *{
	font:400 1.313rem 'TanseekModernProArabic-Bold',arial;
line-height:normal;
}
.breadcrumbs > *.current a {
color: #fff;
}
.breadcrumbs > *.unavailable a {
color: #8a8a8a;
}
.breadcrumbs > *:before {
margin: 0 0.30rem;
}
.breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
text-decoration: none;

}


.mobileHdr{display:none}
/*******************/

.arrowRight{background-position:-302px 0;width:13px;height:22px;}
.payby button,.payby  .button {
background-color: #c00;
}

.equalH .blockW{height:100%}
.mainNav{
	list-style:none;
	margin-left:200px;
	padding: 25px 0 10px;
	margin:0;
	li{
		display:inline-block;
		text-transform:uppercase;
	}
	a{
		
		font-size:20px;
		font-family:"TanseekModernProArabic-Bold",arial; 
		line-height: 1;
		display: inline-block;
		padding: 0 18px 3px;
		&:hover,&.active{
			background:#c00;
			color:#fff;
		}/*end &:hover*/
		
	} /*end a*/
} /*end .mainNav*/

.sub {
margin-left: 15.5% !important;
}

.h3Margin h3{margin-top:0}
.subNav{
	list-style:none;
	
	padding:0;
	margin:13px 0 0;
	
	li{
		display:inline-block;
		text-transform:uppercase;
		border-right: 1px solid #c00 ;
		margin-right: 18px;
		
	}
	li:last-child{
			border-right: none;	
		}
	a{		
		font-size:20px;
		font-family:"TanseekModernProArabic-Medium",arial; 
		line-height: .6;
		display: inline-block;
		color:#484848;
		
		padding:4px 0 6px 0;
		margin-right:18px;
		&:hover,&.active{			
			color: #c00;
			border-bottom: 2px solid #c00;
			padding-right: 0;		
		}/*end &:hover*/
		
		
		
	} /*end a*/
	
} /* end subNav */

.langArea{
	padding-top:18px;
	a{color:#181818;
	&:hover{color:#181818;}}
}


.searchArea{
	margin-top:-5px;
	display:none;
	ul{
		margin:0 0 8px;
		list-style:none;
		display:none;	
	}
	.searchBox{display:none}
	li{
		display:inline-block;
		a{
			display: inline-block;
			padding: 0 5px 3px;
			font-size:1rem;
			line-height: 1;
			color:#484848;
			&:hover{
				background:#484848;
				color:#fff;
			}	
		}
		&.lang  {
			a{
				font-size: 21px;
			}
		}
		&.topUp{
			a{
				background:#c00;
				color:#fff;
			}
		}
	}
} /*.searchArea*/



/**********/
.digitsCounter{margin: 0 -20px 44px;}
.digit-container{width: 14.2%;height:290px;float:left}
.digit,.digit div {width:92px;height:180px;overflow:hidden}
.digit{position:relative;}
.digit.odd {
	 background-color: #c00;
	 background-image: -webkit-linear-gradient(45deg, #1e1e1e, #2f2f2f);
	 background-image: -moz-linear-gradient(45deg, #1e1e1e, #2f2f2f);
	 background-image: -o-linear-gradient(45deg, #1e1e1e, #2f2f2f);
	 background-image: linear-gradient(45deg, #1e1e1e, #2f2f2f);
	}
.digit.even {
	background-color: #c00;
	background-image: -webkit-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: -moz-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: -o-linear-gradient(45deg, #1a1a1a, #252525);
	background-image: linear-gradient(45deg, #1a1a1a, #252525);
	}

.activated {
	background-color: #e50000!important;
	background-image: -webkit-linear-gradient(bottom, #c00, #e50000 50%)!important;
	background-image: -moz-linear-gradient(bottom, #c00, #e50000 50%)!important;
	background-image: -o-linear-gradient(bottom, #c00, #e50000 50%)!important;
	background-image: linear-gradient(to top, #c00, #e50000 50%)!important;
	}
.digit:last-child{border:none}

.digit div {position:absolute;top:-100%;text-align:center;line-height:180px;font-family:"TanseekModernProArabic-Light",arial;font-size:120px;color:#fff;line-height:1.2;
	-webkit-transition: top 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -webkit-transform 0;
    -moz-transition: top 200ms ease-in-out;
    -o-transition: top 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -o-transform 0;
    transition: top 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, transform 0;}
.digit div:first-child {position:absolute;top:0px}

.spin {width:100%;height:40px;}

.visible{top:0px!important;}

.spin em{width:27px;height:27px;display:block;margin:15px auto 0;}
.prevo em{background-position:-279px -418px}
.nexto em{background-position:-279px -461px}


.btnArea{background:#181818;margin:0 -20px;padding:20px;
button,.button{margin-bottom:0;margin-right:10px;background:#c00;
-webkit-box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	-moz-box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	
&:hover{background:#f00;}
	&:focus{background:#f00}
}
span{display:block;float:right;font-size:20px;font-family:"TanseekModernProArabic-Medium",arial; margin-top:10px;
em{display:inline-block;width:17px;height:12px;background-position:-372px -418px}}
}
/**********/

.subDesc{
	color:#c00;
	font-size:30px;
	font-family:"TanseekModernProArabic-Light",arial;
	border-bottom:1px solid #f1f1f2;
	margin:0 -20px;
	padding:0 20px 24px;
		
}

.ourSimFit h2{
margin:-40px -20px 5px;	
}
.searchBox{
	background:#fff;
	height:45px;
	@include border-radius(4px);
	border:2px solid #c00;
	overflow:hidden;
	position:relative;
	input[type="text"]{
		position:absolute;
		width:80%;
		left:0;
		top:0;
		background: none;
		border: none;
		box-shadow: none;
		color: #c00;
		font-family: "TanseekModernProArabic-Bold",arial;
		font-size: 23px;
		margin: 0;
		height: 42px;	
		text-indent:15px;
		line-height: 1.1;
	}
	input[type="submit"]{
		background-color:#c00;
		width:50px;
		height:45px;
		border: none;
		cursor: pointer;
		position:absolute;
		top:0;
		right:0;
		overflow:hidden;
		
		text-indent:-9999px;
		background-position:-118px 10px;
	}
	
} /* end .searchBox*/








.flexslider {
	margin: 0 0 15px;
	background: #fff;
	border:none;
	@include border-radius(0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	overflow:hidden;
	
}
.banner1{position:relative}
.banner1 .txt{position:absolute;z-index:99;left: 270px;
top: 100px;width:799px !important;}
.flex-control-nav {
	bottom: 0px;
	z-index: 9;
}

.flex-control-paging li a{
	width:14px;
	height:14px;
	background:none;
	border:2px solid #f1f1f2;
-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	-o-box-shadow: none; 
	box-shadow: none;

	}
	
	.flex-control-paging li a:hover {
background: #f1f1f2;

}
	
.flex-control-paging li a.flex-active{
	background:#f1f1f2;
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	-o-box-shadow: none; 
	box-shadow: none;
}
.topuptalkingBadge{
	width:40%;
	height:228px;
	background: url(../img/fresh.png) no-repeat;
	margin-left:7%;
	display:inline-block;
	background-size:contain;
	
	
}

.rightBlock{
	float:right;
	width:44%;
	margin-right:6%;
	input[type="text"].txtField,
	input[type="password"].txtField,
	input[type="email"].txtField,
	input[type="number"].txtField{
	 width: 100%;
	}
}
.topuptalking{
	background:#e4e4e6;
	padding:30px 0;
	margin-bottom: 15px;
}
.chooseUniqueNumber{
	background:#000;
}

.title1{
	text-transform:uppercase;
	color:$txtColor;
	font-size:33px;
	font-family:"TanseekModernProArabic-Bold",arial;
	line-height: 0.8;
	margin-bottom:20px;
}


input[type="text"].txtField,
input[type="password"].txtField,
input[type="email"].txtField,
input[type="number"].txtField{
 width: 280px;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px rgba(0,0,0,.15);
	-moz-box-shadow: inset 1px 1px rgba(0,0,0,.15);
	box-shadow: inset 1px 1px rgba(0,0,0,.15);
  font-size:23px;
  font-family:"TanseekModernProArabic-Medium",arial;
  color:$txtColor;
  border:none;
  margin-bottom:8px;
  text-transform:uppercase;
  line-height: 1.2;
}

.button{
	@include border-radius(4px);
	font-size:23px;
	font-family:"TanseekModernProArabic-Medium",arial;
	line-height: .5;
	padding: 10px 16px 14px;
	text-transform:uppercase;
	em{
		display:inline-block;
		width:16px;
		height:16px;
		background-position:-138px -39px;
		position: relative;
		top: 3px;
		margin-left: 20px;
	}
	&:hover{background:#f00;}
	&:focus{background:#f00;outline:none}

}



.lang{
	float:right;
	
	font-family:"TanseekModernProArabic-Bold",arial;
	a{
		font-size:21px;
	}
} /*End  .lang*/

.logo{
	overflow:hidden;
	text-indent:-9999px;
	background-position:0 0;
	width:113px;
	height:185px;
	position:absolute;
	top:12px;
	z-index:99;
	left:48px;
}



.loginBox{
	
	background:#fff;
	padding:20px 20px 10px;
	h2{
		font-weight:400;
		font-size:40px;
		color:$txtColor;
		font-family:"TanseekModernProArabic-Light",arial;
		margin:0 0 22px;
		text-transform:uppercase;
	}
	
	.xsml{
		padding:10px 4px 12px 10px;
		position:relative;
		top:-1px;
		margin-bottom:0;
		em{
			margin-left: 4px;
		}
		
	}
	
} /* login Box */

.noteField{font-size:20px}


.redBox{
		background:$txtColor;
		@include border-radius(3px);
		padding:20px;
		margin-bottom: 5px;
		::-webkit-input-placeholder { /* WebKit browsers */
    	color:    #fff;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #fff;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #fff;
	}
		
		input[type="text"].txtField,
input[type="password"].txtField,
input[type="email"].txtField,
input[type="number"].txtField{
 width: 37.5%;
	height: 40px;
	@include border-radius(4px);
	background-color: #9b0800;
	
	-webkit-box-shadow: inset 1px 1px rgba(0,0,0,.08);
	-moz-box-shadow: inset 1px 1px rgba(0,0,0,.08);
	box-shadow: inset 1px 1px rgba(0,0,0,.08);
  font-size:23px;
  font-family:"TanseekModernProArabic-Medium",arial;
  color:#fff;
  border:none;
  margin-bottom:8px;
  text-transform:uppercase;
  line-height: 1.2;
  margin: 0 10px 0 0;
display: inline-block;
} /* End input */



button,.button{
	
	@include border-radius(4px);
	background-color: #ff0000;
	-webkit-box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	-moz-box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	box-shadow: 0 1px rgba(113,1,1,.42), inset 0 1px rgba(255,255,255,.32);
	&:hover{background:#ff3722;}
	&:focus{background:#ff3722}
	
}
		
	} /* redBox*/
	
	
	.stayUpToDate {
		input[type="text"].txtField{
			margin-right:0;
			width:100%;	
			margin-bottom:8px;
		}
		
		input[type="email"].txtField{
			margin-right:0;
			width:100%;	
			margin-bottom:8px;
		}
		
		
		.redBox{
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		.join{
			width: 100%;
			margin-bottom: 0;
			text-align: left;
			line-height: .8;
			padding-top: 10px;
			
			em{
				top: 3px;
				margin-left: 20px;
				float: right;
			}
		}
		
		.smlTxt{
			color:#c00;
			font-size:16px;
			text-align:center;
			line-height:.9;	
		}
	}
	

.notMember{
	text-align:right;
	line-height:20px;
 	a{
		color:$txtColor;
		font-size:20px;
	}
}
.rememberMe label{
	color:$txtColor;
	font-size:20px;
}

.blockW{padding:20px;}
.blockW,
.blockArticle
{
	background:#fff;
	position:relative;
	padding-top:50px;

	overflow:hidden;
}

.staticIcon{display:block;text-align:center;margin-bottom:45px;min-height:115px}
.staticBlock {
	margin-bottom:15px;
	.blockW{
		padding-top:40px;
		padding-bottom:40px;
	}
	.content{
		font-size:30px;
		font-family:"TanseekModernProArabic-Light",arial;
		color:#484848;
		line-height:.9;
	}
	.title{
		color:#c00;
		font-size:35px;
		text-transform:uppercase;
		margin-bottom:20px;
		line-height:.8;
		display:block;
		font-family:"TanseekModernProArabic-Bold",arial;
	}
}
.blockRed{
	background:#c00;
	padding-bottom: 20px;
	overflow: hidden;
	
	h2{
		color:#fff;
		font-size:52px;
		border-bottom:1px solid #af0900;
		margin: 0 0 20px;
		line-height: .8;
padding: 10px 20px 20px;
	}
	
	.blockRedTxt{
		padding:20px;
		color:#fff;
		font-family:"TanseekModernProArabic-Light",arial;
		font-size:30px;
		margin-left:196px;
	}
	
	a{
		color:#fff;
		
		span{
			position:relative;
			top:-7px;
			font-size:26px
		}
	}
	
	em{
		font-size:34px;
		margin-right:8px;
		display:inline-block
	}
	
}
/****blockRed****/

/*.iconPrepaidPostpaid{
	width:176px;
	height:176px;
	float:left;
	margin:0 20px;
	
}*/

.instagramBox,.twiterBox{
	.blockW{
		background:#e4e4e6;
	}
	
	h3{color:#404042;border-bottom:1px solid #fff;}
	
}


.instagramBox{
	.followUs{
		em{background-position:-451px -68px;}
	}
}

.twiterBox{
	.followUs{
		em{background-position:-451px -121px;}
	}
}

.needHelp{ 
.blockW{background:#e4e4e6}
h3{color:#7440c9;border-bottom:1px solid #fff;margin-bottom:0}
}


.needHelp1{

	padding:0; border-right:1px solid #fff;
	.pad{border-right:1px solid #f1f1f2;padding:20px 20px 20px 0}
	.connected{font-size:35px;font-family:"TanseekModernProArabic-Bold",arial;color:#fff}
	.img{background:#6a36c0 url(../img/needHelp1.png) no-repeat;height:165px;}
}
.needHelp2{
	padding:0;
		.pad{padding:20px 0 20px 20px;}

	.img{background:#6a36c0 url(../img/needHelp2.png) no-repeat;height:165px;}
}


.needHelp1,.needHelp2{
	float:left;
	width:50%;
	border-bottom:1px solid #fff;
	margin-bottom:18px;
	.cont{padding:15px 25px}
	
	.faqList li{overflow:hidden;height:50px}
	.faqList li em{
		width:35px;
		height:35px;
		background-position:-193px 0;
		top:4px;
		margin-left:20px;
		
			
	}
	
}

a.chatWithUs{
	display:inline-block;
	color:#fff;
	font-size:24px;
	font-family:"TanseekModernProArabic-Bold",arial;
	text-transform:uppercase;
	margin-left:22px;
	em{
		display:inline-block;	
		width:62px;
		height:59px;
		background-position:-226px -239px;
		position: relative;
		top: 30px;
		margin-right: 10px;
	}


}

.connected em{
	width:16px;
	height:16px;
	display:inline-block;
}
.online em{background-position:-240px -100px}
.offline em{background-position:-240px -129px}


.whiteBox{
	background:#fff;
	@include border-radius(5px);
	padding:20px;
}

.faqList{
	list-style:none;
	margin:0 -20px;
	padding: 8px 0 0;
	
	font-size:24px;
	font-family:"TanseekModernProArabic-Bold",arial;
	color:#fff;
	.close{display:none}
	li{
		cursor:pointer;	
		color: #7440c9;
		padding:0 20px;
		
		&.opened{
			background:#7440c9;
			color:#fff;	
			border-bottom:1px solid #fff;
			padding-top:20px;
			em{display:none}
			.close{display:inline-block;color:#ae90e0}
			.question{margin-bottom:0}
		}
		
		em{
			position: relative;
			top: -3px;
			margin-right:8px;
			padding-left:1px;
			font-size:32px;
			float:left;
		}
	}
	
	a{	
		color:#fff;
		display:inline-block;
		
		
	}
	
}

.contentBg{background:url(../img/pageBG.jpg) no-repeat center top;}
.marb15{margin-bottom:15px !important}
.headlineBox{margin-bottom:15px}

.answer{font-size:30px;font-family:"TanseekModernProArabic-Light",arial;line-height:.9;display:none;padding-left: 45px;padding-bottom:20px}

.question{overflow:hidden;padding-bottom:3px}
.textQuestion{
	margin-left: 42px;
	line-height: .8;
	
}

.shareLink{
	color:$txtColor;
	font-size:20px;
	line-height:1;
	position:absolute;
	right:5px;
	z-index:10;
	top:5px;
	opacity:.5;
	display:inline-block;
	margin-bottom:8px;
	cursor:pointer;
	em,span{width:24px;
		height:24px;
		position:relative;
		font-style:normal;
		top:4px;font-size: 20px;}
	em{ 
		
		display:inline-block;
	}
	span{
		display:none;
	}
	
	&.opened{
		
		opacity:1;
		em{
			display:none;
		}
		span{
			display:inline-block;
		}
	}
}


.mask{
	width: 176px;
height: 176px;
background:url(../img/maskCircle.png) no-repeat;
display:block;
}

.ourSimList .postContent{padding-top:20px}

.ourSim{width:178px;height:179px;float:left;}
.icon-mask{
	width: 176px;
height: 176px;
margin: 0 auto 20px;
 -webkit-transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -webkit-transform 0;
    -moz-transition: background-position 200ms ease-in-out;
    -o-transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -o-transform 0;
    transition: background-position 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, transform 0;
	}
	
.blockRed .icon-mask{
	float:left;
	margin:0 20px;
}
	
.icon1{
	background:url(../img/prePaidIcon.png) no-repeat -1px 0;	
}

.icon2{
	background:url(../img/blocks_img.png) no-repeat;	
}

.icon3{
	background:url(../img/blocks_img2.png) no-repeat;	
	
}

.icon4{
	background:url(../img/blocks_img3.png) no-repeat;	
	
}

.icon5{
	background:url(../img/postPaidIcon.png) no-repeat -1px 0;
}

.hover{ 
	.icon1{
		background-position:-183px 0px;
	}
	.icon2{
		background-position:-155px 0px;
	}
	.icon3{
		background-position:-185px 0px;
	}
	.icon4{
		background-position:-185px 0px;
	}
	.icon5{
		background-position:-183px 0px;
	}
	.shareLink{
		opacity:1
	}
	
}  /* End Hover */

.contentBlock{text-align:center;padding:4px 0 0}
.txt52{font-size:52px}
.txt24{font-size:24px}
.uppercase{text-transform:uppercase}
.redtxt,.redtxt:hover{color:$txtColor}
.light{font-family:"TanseekModernProArabic-Light",arial;}
.lineH_9{line-height:.9}
.lineH_8{line-height:.8}
.mart48{margin-top:48px;display:inline-block}

.webSelfcare .mart48{
	margin-top: 80px;
}

.column.upToDateSelfcare{
	float:left !important;	
	/*margin-top: -357px;
	position:relative;*/
}

.column.needHelpVirginFamily{
float:left !important;	
position:relative;
}

em{font-style:normal}
.borderBox{
	border:1px solid #f1f1f2;
	padding:20px;
	margin-top:15px;
	.step1{
		width:38px;
		height:38px;
		font-size:38px;
	}
	.intro{
		font-size:29px;
		
		font-family:"TanseekModernProArabic-Light",arial;
		line-height:.9;
		text-align:center;
		
	}
}
/******/
#map{
	height: 204px;
	background: #CCC;
}

.searchMap{
	border:1px solid #e4e4e6;
	padding:20px;
}

/******/
.more{
	color:#c00;
	font-size:24px;
	font-family:"TanseekModernProArabic-Bold",arial;
	margin-left:20px;
	em{
		display:inline-block;
		width:35px;height:35px;
		background-position:-193px -50px;
		position: relative;
		top: 10px;
		margin-right: 10px;
	}
}


.sharOverlay{
	position:absolute;
	/*display:none;*/
	background:#e0e0e0;
	width:100%;
	left:0;
	top:-100%;
	z-index:9;
	height:100%;
	
	-webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -webkit-transform 0;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -o-transform 0;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, transform 0;
	a{
		display: inline-block;
		width: 97px;
		height: 96px;
		overflow:hidden;
		text-indent:-200px;
		position: absolute;
		top: 50%;
		margin-top: -48px;
		opacity:.7;
		&:first-child{background-position:1px -216px;left: 50%;margin-left: -120px;}
		&:last-child{background-position:-104px -216px;right: 50%;margin-right: -120px;}
		&:hover{opacity:1}
	}
}


.medium-6 .medium-6 .sharOverlay {
	a:first-child{margin-left:-100px}
	a:last-child{margin-right:-100px}
}


/*.medium-6 .medium-6 .blockW a:last-child{right:40px}
.medium-6 .blockArticle a:first-child,
.medium-6 .blockW a:first-child{left: 50%;
margin-left: -120px;}
.medium-6 .blockArticle a:last-child,
.medium-6 .blockW a:last-child{right: 50%;
margin-right: -120px;}


.medium-6 .blockW .postsList a:first-child{left:160px}
.medium-6 .blockW .postsList a:last-child{right:160px}
*/


.bg_why_virgin{
	background:#fff url(../img/bg_why_virgin.jpg) right no-repeat;
	height:480px;
	.shareLink {
		color: #fff;
		em{
			background-position:-202px -155px;	
		}
		
		&.opened{
			em{
				background-position:-235px -155px;	
			}
		}
	}
	.more{
		color:#fff;
		font-family:"TanseekModernProArabic-Light",arial;
		position: absolute;
		bottom: 20px;
		
		em{
			background-position:-193px 0;
		}
	}
}

.headerBlock{
	font-size:54px;
	font-weight:400;
	font-family:"TanseekModernProArabic-Bold",arial;
	line-height: .8;
	color:#fff;
	padding-left: 18px;
	margin-top: -25px;
	
	.header1{
		font-family:"TanseekModernProArabic-Light",arial;
	}
	.header2{
		text-transform:uppercase;
	}
}

.animToBottom.on{top:0}
.animToLeft{left:100%;top:0}
.animToLeft.on{left:0;}
.animToTop{top:100%;left:0}
.animToTop.on{top:0}


strong{font-weight:400;font-family:"TanseekModernProArabic-Bold",arial;}
form{margin:0;display:inline}

.sticky{margin-top:66px}

.nearestStore{
	/*background:#A7FEFF*/
	padding-bottom:5px;
	h3{
		margin-bottom:0;
	}
}
h3,h2{
	color:#c00;
	font-size:52px;
	font-weight:400;
	font-family:"TanseekModernProArabic-Light",arial;
	text-transform:uppercase;

	
	margin: -40px -20px 20px;
	padding: 0 20px;

	}
.borderB{border-bottom: 1px solid #f1f1f2;}	

.row.newRow{margin-left: 0;margin-right:0;}

ul.chooseNumberDesc {
	margin-left:-20px;
	margin-right:-20px;
	li{padding:20px;}
	.goldNumber{
		.postDateBlogger,.postTitle{color:#ffc000}
		.imgCreativeCollective{background-position:0 -674px;width:190px;height:180px}	
	}
	.silverNumber{
		.postDateBlogger,.postTitle{color:#a9ab9d}
		.imgCreativeCollective{background-position:-210px -674px;width:190px;height:180px}		
	}
	.freeNumber{
		.postDateBlogger,.postTitle{color:#732a92}	
		.imgCreativeCollective{background-position:-414px -674px;width:190px;height:180px}	
	}
	
	.readPost{margin-top: 10px;}
	
}
	.block{
		margin-bottom:15px
	}
	
	.postsList{
		list-style:none;
		margin:0 -20px;
		padding:0;
		.postContent span{
			display:block;	
		}
		
		li{
			position:relative;
			overflow:hidden;
			padding:20px;
			border-bottom:1px solid #F1F1F2;
			&:last-child{border-bottom:none;padding-bottom:0}
		}
			
	} /*postsList*/
	
	.seeStuff{
		ul{
			margin:0 -20px	
			}
		
		.blockW{
			padding-bottom:0px;	
		}
		h3{border-bottom:1px solid #f1f1f2;margin-bottom:0}
		.imgSeeStuff{
			max-width: 285px;
			display: block;
			margin-top: 25px;
			margin-bottom: 20px;
			
			img{
				width:100%;
			}
		}
		
		
		.postTitle{
			font-size:35px;
			font-family:"TanseekModernProArabic-Bold",arial;
			color:#c00;
			line-height: .8;	
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		.postDescription{
			color:#484848;
			font-size:30px;
			font-family:"TanseekModernProArabic-Light",arial;
			line-height: .9;
			min-height: 85px;
			overflow: hidden;
		}
		
		.readPost{
			margin-top:0;
		}
		li{
			width:50%;
			float:left;	
			padding-bottom:20px !important;
			&:nth-child(3){border-bottom:none !important}
			&:nth-child(4){border-bottom:none !important}
			&.odd{
				padding-right: 19px;
				padding-left:20px;
				border-right: 1px solid #f1f1f2;
				border-bottom: 1px solid #F1F1F2;
				.shareLink{
					margin-right:12px;
				}
				
				
			}
			&.even{
				padding-left: 19px;
				padding-right:20px;
				border-bottom: 1px solid #F1F1F2;
				.shareLink{
					margin-right:15px;
				}
			}
		}
	}
	
	.creativeCollective{
		h3{border-bottom:1px solid #f1f1f2}
		.imgCreativeCollective{
			max-width: 190px;
			display: block;
			position:relative;
			float: left;
			img{
				width:100%;
				@include border-radius($radius:95px);
			}
		} /*imgCreativeCollective*/
		
		.postContent{
			display: block;			
			float: left;
			width: 62%;
			margin-left: 3%;
		} /*postContent*/
		
		.postDateBlogger{
			color:#c00;
			font-size:20px;
			font-family:"TanseekModernProArabic-Medium",arial;
			line-height: 1;	
			span{display:inline-block}
		}
		.bloggerName{text-transform:uppercase}
		
		.postTitle{
			color:#c00;
			font-size:40px;
			font-family:"TanseekModernProArabic-Bold",arial;	
			line-height: .8;	
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		
		.postDescription{
			color:#484848;
			font-size:30px;
			font-family:"TanseekModernProArabic-Light",arial;
			line-height: .9;	
			padding-bottom:5px;
				
		}
		
		
		
	} /*creativeCollective*/
	
	
	
	.virginFamily{
		text-transform:uppercase;
		.blockW{padding-bottom:0}
		h3{border-bottom:1px solid #f1f1f2;margin-bottom:0}	
	
	
	.needHelp1{
		padding:0;
		.pad{border-right:1px solid #f1f1f2;padding:20px 20px 20px 0}
	.img{background:#c00 url(../img/virginFamily1.jpg) no-repeat;height:165px;}
	}
	.needHelp2{
		padding:0;
		.pad{padding:20px 0 20px 20px;}
		
		.img{background:#c00 url(../img/virgin.png) no-repeat center center;height:165px;}
	}


	.needHelp1,.needHelp2{float:left;width:50%;border-bottom:none;
	margin-bottom:0;
	.cont{padding:15px 25px}
	}
	
	}



.maskImg{display:inline-block;width:190px;height:190px;display:inline-block;background:url(../img/maskBg.png) no-repeat;position:absolute;left:0;top:0;}
.borderradius .maskImg{display:none}
/***************************************/

/***************************************/

.readPost {
			text-transform:uppercase;
			color:#c00;
			font-size:24px;
			font-family:"TanseekModernProArabic-Bold",arial;
			margin-top: 27px;
			em{
				display:inline-block;
				width:37px;
				height:37px;
				position:relative;
				margin-right: 5px;
				top:12px;
				background-position:-193px -50px;
			}
		}


.pintrestImg{
	overflow:hidden;
	a{
		display:block;
		float:left;

		
		max-width: 136px;
		margin-right: 10px;
		margin-bottom: 10px;
		
		&:nth-child(4){
		margin-right:0;
		}
		&:nth-child(8){
			margin-right:0;
		}

	}	
	img{
		width:100%;
	}
} /*******/


a.followUs{
	text-transform:uppercase;
	color:#7e7e7f;
	font-size:24px;
	font-family:"TanseekModernProArabic-Medium",arial;
	em{
		display:inline-block;
		width:38px;
		height:38px;
		font-size:36px;
		position:relative;
		top:12px;
		margin-right:3px;	
	}
}

.fieldTitle {
margin-bottom: 5px;
display: inline-block;
text-transform:uppercase;
}

#lang{ 
height:57px;
padding-right:0;
	a{
		background-position:0 -128px;
		text-indent:-9999px;
		overflow:hidden;
		width:113px;
		height:57px;
		float:right;
		  -webkit-transition: background-position .2s ease-in-out;
-moz-transition: background-position .2s ease-in-out;
-ms-transition: background-position .2s ease-in-out;
-o-transition: background-position .2s ease-in-out;
transition: background-position .2s ease-in-out;
		&:hover{
			background-position:0 -185px;
		}
	}
}


.overflow{overflow:hidden}


.twitterFeeds 

{
a{display:block;background:#fff;overflow:hidden;padding-bottom:10px;padding-right:20px}	
	
}
.imgTweet{
	width:48px;
	float:none;
	display:table-cell;
	vertical-align:middle;
	img{ width:100%}
}

.tweetDesc{
	padding-left:5px;
	padding-top:20px;
	display:table-cell;
	span{
		display:block;	
	}
	.date{
		color:#a1a1a1;
		font-size:20px;
		text-transform:uppercase;
		font-family:"TanseekModernProArabic-Bold",arial;	
	}
	.tweetCont{
		color:#181818;
		font-size:28px;
		font-family:"TanseekModernProArabic-Light",arial;	
	}
	.tweetLink{
		color:#c00;
		font-size:28px;
		font-family:"TanseekModernProArabic-Bold",arial;
	}
}


button.btn,
input.btn
{
    @extend .sprite;
    @include border-radius(5px);
    @include box-shadow(1px,1px,113,1,1,.11);
    background-color: $btnBg;
    background-position: 100% -42px;
    outline: none;
	border:none;
	cursor:pointer;
	width:10.500rem;
	font:400 1.438rem "TanseekModernProArabic-Medium",arial;
	letter-spacing:1px;
	padding: 0 0 2px;
	text-indent: 18px;
	text-align: left;
	margin-right:10px;
	line-height:0;
    
}

.btn{
	-webkit-transition: background-color .4s ease-in-out;
-moz-transition: background-color .3s ease-in-out;
-ms-transition: background-color .4s ease-in-out;
-o-transition: background-color .4s ease-in-out;
}
.btn:hover{
	background-color:$btnBgHover;
}


strong, b{
	font-weight:400;
}
/*******************/
/*******************/


.marb0{
	margin-bottom:0
}



button{
    background-color: $btnBg;
    color:$btnTxtColor;
    @include box-shadow(1px,1px,113,1,1,.11);
   
}
.button{
@extend button;
}
 button.radius, .button.radius {
@include border-radius(5px);
}



.tabs {

border-bottom: 3px solid #484848;
}
.tabs dd.active a, .tabs .tab-title.active a {
background: #484848;
color: #fff;
/*font-weight:400;
font-size:30px;
font-family:'TanseekModernProArabic-Light',arial;
*/}


.tabs dd > a, .tabs .tab-title > a {

background: #cc0000;
color: #fff;
padding: 7px 2rem 10px;
line-height:1;
font-weight:400;
font-size:30px;
font-family:'TanseekModernProArabic-Light',arial;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
background: #ff3722;
}


.tabs dd, .tabs .tab-title{margin-right:5px}
.relative{position:relative}
.fl{float:left}


.marb15{
margin-bottom:15px;	
}
.marb40{margin-bottom:40px;}


.chooseUniqueNumber{
	padding:20px 20px 0;
	color:#fff;
	position:relative;
	overflow:hidden;
	.shareLink{color:#fff;}
	h3{color:#fff;font-size:52px;margin:0;padding:0}	
	.desc{font-size:33px;font-family:'TanseekModernProArabic-Light',arial;margin-top:-10px}
}

.tableres{font-family: "TanseekModernProArabic-Light",arial;}


footer{
	background:#181818;
	padding-top:25px;
	letter-spacing:1px;
	padding-bottom:20px;
	.searchBox{
		display:none;
		background:#181818;
		max-width:320px;
		border: 2px solid #8a8a8a;
		input[type="submit"]{
			background-color:#8a8a8a;
			background-position:-221px -316px;
		}
		 input[type="text"] {
			font-size:20px;
			letter-spacing:1px;
			color:#8a8a8a;
			font-family: "TanseekModernProArabic-Medium",arial;
		}
		::-webkit-input-placeholder { /* WebKit browsers */
			color:    #8a8a8a;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #8a8a8a;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #8a8a8a;
			opacity:  1;
			
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color:    #8a8a8a;
		}

			
	}
	
	ul{
		list-style:none
	}
}
.connectWithUs{
	font-family:'TanseekModernProArabic-Medium',arial;
	font-size:18px;
	overflow:hidden;
	color:#fff;	
	a{
		color:#fff;	
	}
	.p1{width:244px;margin-left:35px;float:left;}
}

.c1,.c2,.c3{
	width:138px;margin-left:60px;
	
	float:left;
	font-family:'TanseekModernProArabic-Medium',arial;
	font-size:18px;
	float:left;
	a{
		color:#fff;	
	}
	
}

.copyWrite{
	margin-left:65px;
	color:#cbcbcb;
	font-size:18px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin-top:20px;
	font-family:'TanseekModernProArabic-Bold',arial;
	a{
		color:#cbcbcb;	
		display:inline-block;
		margin:0 5px;
	}
	span{
		display:inline-block;
		margin:0 5px;
		font-family:'TanseekModernProArabic-Light',arial;
	}
}

.socialLnk a{
	width:37px;
	height:37px;
	overflow: hidden;
	text-indent: -9999px;
	margin-right: 6px;
	
	&.facebook{
        background-position: -46px -327px;
    }
    &.twitter{
        background-position: -137px -327px;
    }
    &.youtube{
        background-position: 0 -327px;
		
    }
	&.pintrest{
        background-position: -184px -327px;
		
    }
	&.instagram{
        background-position: -91px -327px;
		
    }
}

.marb-10{margin-bottom:10px}

.chatWithUsFixedBoxOpened.on{right:0}

.chatWithUsFixedBoxOpened{
	width:406px;
	position:fixed;
	top:120px;
	right:-999px;
	z-index:999;
	
	 -webkit-transition: right 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -webkit-transform 0;
    -moz-transition: right 200ms ease-in-out;
    -o-transition: right 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, -o-transform 0;
    transition: right 300ms cubic-bezier(0.19, 1, 0.22, 1) 0, transform 0;
	
	::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b5b5b5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b5b5b5;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b5b5b5;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b5b5b5;
}
	
	.shiftTop25{margin-top:25px}
	.txtField{width:250px !important;display:inline-block;margin-right:15px;position:relative;top:4px;font-size:25px;color:#b5b5b5 !important;font-family:'TanseekModernProArabic-Medium',arial;}
	.button{width:90px !important;
	em{margin-left:0}
	}
	
	.content{
		background:#7440c9;
		border:1px solid #5e2378;
		overflow:hidden;
		color:#fff;
		font-family:'TanseekModernProArabic-Light',arial;
		font-size:27px;
		padding:30px 28px;
		@include border-radius(3px);
		
		.title{
			font-family:'TanseekModernProArabic-Medium',arial;
			font-size:35px;
		}
		.desc{
			margin-top:5px;
		}
		.rightPart{
			width:78px; height:70px;
			background-position:-296px -327px;
			margin-left:18px;top: 10px;position:relative
		}
		.leftPart{width:292px;float:left;line-height: .9;}
	}
}


.chatWithUsFixedBox{
	background:#7440c9;
	color:#fff;
	position:fixed;
	top:280px;
	right:-160px;
	z-index:998;
	padding:15px 25px 15px 30px;
	
	
	-ms-transform: rotate(90deg); /* IE 9 */
	-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	
	-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;

font-size:30px;

span{display: inline-block;
position: relative;
top: -5px;
margin-right: 40px;
margin-left: 10px;}



.chatIcn{background-position:-393px -327px;width:37px;height:34px;
-ms-transform: rotate(-90deg); /* IE 9 */
	-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	position: relative;
top: 2px;
}
}

.chatStatus{width:30px;height:30px;background:#421888;@include border-radius(30px);display:inline-block;}
.chatStatus span{
	display:inline-block !important;
	width:11px;
	height:11px;
	@include border-radius(30px);
	margin:0px 0px 6px  9px !important;
	position:static;
}
.chatStatus.on span{background:#97ff00;}
.chatStatus.off span{background:#999;}

/******
div.selector,
div.selector.hover,
div.selector.focus,
div.selector.hover.active,
div.selector.focus.active
{
	background-position: 0 -570px;
	height: 39px;
	padding: 0 0 0 10px;	
	width: 100% !important;
	line-height:1.5;
}

div.selector span,
div.selector.hover span,
div.selector.focus span,
div.selector.hover.active span,
div.selector.focus.active span
{
	background-position:100% -518px;
	height:39px;
	text-indent: 10px;
	font: 400 1.5rem 'TanseekModernProArabic-Bold',arial;
	line-height:1.5;
	color:$txtColor !important;
	width: 100% !important;
	display: inline-block;
	
}
****/
/*********/






.creativeList {margin-bottom: 0;}
.creativeList li{width:25%;border-right: 1px solid #f1f1f2;padding-right: 19px;
padding-left: 20px;}
.creativeList li:last-child{border-right:none}
.creativeList .postContent {width: 100%;margin-left: 0;}
.creativeList .blockW{padding-top:0;}

.banner{position:relative;width:100%;height:400px}
.stickyTxt{	
	text-align:center;
	display:block;
	margin:0 auto;
	width:auto !important;
}
/******memberHelp******/
.memberHelp{	
	.banner1{background:url(../img/memberHelpSliderBg.jpg) no-repeat;background-size: cover;}
	.stickyTxt{
		max-width:514px;
		padding-top:65px;
		margin-bottom:30px;
	}
}

/*.bookingNumber{	
	.banner1{background:url(../img/bookNumber-bg.jpg) no-repeat;background-size: cover;}
	.stickyTxt{
		max-width:737px;
		padding-top:100px;
		
	}
}*/


/*.getAPlan{	
	.banner1{background:url(../img/getAplan-bg.jpg) no-repeat;background-size: cover;}
	.stickyTxt{
		max-width:749px;
		padding-top:130px;
		
	}
}*/


.askBox{
	background:#7440c9;
	@include border-radius(4px);
	max-width: 620px;
	margin: 0 auto;
	padding: 0;
	height:70px;
	overflow:hidden;
	position:relative;
	
	

	
	input[type="text"]{
		position:absolute;
		@include border-radius(4px);
		width:85%;
		left:15px;
		top:15px;
		background: none;
		border: none;
		box-shadow: none;
		background:#421888;
		color: #fff;
		font-family: "TanseekModernProArabic-Light",arial;
		font-size: 23px;
		line-height:1.2;
		margin: 0;
		height: 40px;	
		text-indent:15px;
		-webkit-box-shadow: inset 1px 1px rgba(0,0,0,.15);
		-moz-box-shadow: inset 1px 1px rgba(0,0,0,.15);
		box-shadow: inset 1px 1px rgba(0,0,0,.15);
	}
	button[type="submit"]{
		
		font-family: "TanseekModernProArabic-Light",arial;
		font-size: 23px;
		width: 90px;
		color:#fff;
		height: 40px;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
		background-color: #9859ff;
		-webkit-box-shadow: inset 0 1px rgba(255,255,255,.15);
		-moz-box-shadow: inset 0 1px rgba(255,255,255,.15);
		box-shadow: inset 0 1px rgba(255,255,255,.15);
	
		cursor: pointer;
		position:absolute;
		top:15px;
		right:15px;

		border:0;
		outline:none;
		padding:0;
		span{
			position: relative;
			top: -3px;
			padding-left: 22px;
		}
		em {
			display: inline-block;
			width: 16px;
			height: 16px;
			background-position: -138px -39px;
			position: relative;
			top: 0px;
			margin-left: 6px;
		}
	}
	
} /* end .askBox*/


.askBoxPadd,.stickyPadd{padding:90px 20px 0;position:relative}
.askBoxPadd {
	padding:0 20px 0;
	.arrow{width:21px;height:13px;background-position:-302px -39px;display:block;margin:0 auto}
}

.informationDetails{ .blockW{padding:22px 10px 22px 15px}}
.callUs,.emailUs,.likeUs,.followUs{width:51px;height:51px;position: relative;top: 5px;}
.callUs{background-position:-302px -68px;top:-23px}
.emailUs{background-position:-372px -68px;}
.likeUs{background-position:-303px -133px;}
.followUs{background-position:-372px -134px;}

.emailUsBox strong{font-size:20px}

.informationDetails a{
	color:#c00;
}

.callUsTxt{display:inline-block;font-size:28px;color:#c00;margin-left:10px}
.memberHelp h2{
	color: #7440c9;
	margin-bottom: 10px;
	line-height: .8;
	padding-bottom: 15px;
	a{
		color:#7440c9;
	}
}
.memberHelp .blockW{background:#e4e4e6}
.memberHelp .shareLink{color:#7440c9}
.memberHelp .shareLink em {background-position: -443px 0;}
.memberHelp .shareLink.opened em {background-position: -477px 0;}

.memberHelp .more{font-family:'TanseekModernProArabic-Light',arial;color:#7440c9;font-size:30px;border:1px solid #fff;border-width:1px 0;display:block;margin:20px -20px; padding:5px 0 20px 20px}
.memberHelp .more em{background-position:-515px 0}
.memberHelp .faqList li{line-height:1.4;margin-bottom:8px}
.memberHelp .faqList a{color:rgb(0, 206, 219)}
.memberHelp .faqList li ol{margin-left:45px;padding-left:0;margin-top:10px}
.memberHelp .faqList li li{color: #fff;
font-family: "TanseekModernProArabic-Light",arial;
font-size: 23px;
line-height: 1;padding-left:0}


.bookLinks .faqList li{line-height: .9;}
.bookLinks .faqList li em{top:2px;display:block;float:left}
.bookLinks .textQuestion{margin-left:40px;display:block}
.bookLinks .faqList a{line-height:.2;display:block;color:#7440c9;}
/*.memberHelp .faqList.arrow a em {background-position: -341px 0;margin-left:0}*/


/*.howTo .faqList a {color: #c00}
.howTo .faqList li{line-height:1.4;}
.howTo .faqList.arrow a em {background-position: -390px 0;margin-left:0}
*/

div.checker, div.checker span, div.checker input {
  width: 20px;
  height: 20px;
  margin-top:-3px }
div.checker span,
div.checker.active span,
div.checker.hover span, div.checker.focus span,
div.checker.hover.active span, div.checker.focus.active span {
  background-position: -138px -116px; }
div.checker span.checked,
div.checker.active span.checked,
div.checker.hover span.checked, div.checker.focus span.checked,
div.checker.hover.active span.checked, div.checker.focus.active span.checked {
  background-position: -138px -76px; }

@media only screen and (max-width:1232px) {
	
	.c1, .c2, .c3{
		margin-left: 25px;
	}
	
}


@media only screen and (max-width:1312px) {
	
}

@media only screen and (max-width:1212px) {
	/*.subNav {
		a{padding: 4px 10px 6px;}
	}*/
}


@media only screen and (max-width:1164px) {
	/*.subNav {
		a{padding: 4px 10px 6px;}
	}
	
	.mainNav {
		a{padding: 0 10px 3px;}
	}*/
	
	
	.largHdr nav.medium-offset-2{
		margin-left: 16% !important;	
	}
	
	.largHdr .sub {
		margin-left: 17.6% !important;
	}
	
	
}





@media only screen and (max-width:1097px) {
	/*.subNav a {
		padding: 4px 6px 6px;
		font-size: 18px;
	}*/
	
	.postsList .sharOverlay{
		a{
			&:first-child{margin-left: -100px;}
			&:last-child{margin-right: -100px;}
		}
	}
}

@media only screen and (max-width:1082px) {
	
	.chooseUniqueNumber h3 {
		font-size: 45px;
	}
	
	.chooseUniqueNumber .desc {
		font-size: 26px;
		margin-top: 0px;
		margin-bottom: 5px;
	}
}


@media only screen and (max-width:1044px){
	
	.redBox{
		padding:20px 10px;
	}
	
	.redBox .sep {

margin: 20px -10px;
}

	.errorList {

margin: 20px -10px 0;

}	
}

@media only screen and (max-width:1026px) {
	/*.mainNav a {
		padding: 0 8px 3px;
		font-size:18px;
	}*/
	
	.loginBox {
	
		.notMember{width:50%}
	} /** End Login Box **/
	
	.txt52 {
		font-size: 43px;
	}
	
	.bg_why_virgin {
		height: 456px;
	}
	
	.creativeCollective h3{line-height:1}
	.creativeCollective .imgCreativeCollective {max-width: 150px;}
	
	.nearestStore .rememberMe{width:40%}
	.webSelfcare .borderBox {padding: 14px 10px 14px;}
	
	.stayUpToDate .blockW,.webSelfcare .blockW{padding-bottom: 36px;}
	
	.needHelp h3{line-height:1}
	.needHelp1 .cont, .needHelp2 .cont {padding: 15px;}
	.needHelp1 .connected {font-size: 28px}
	
	a.chatWithUs{width: auto;
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-left:0;
		em{
			display: block;
			margin: 0 auto;
			top: 10px;
			margin-bottom: 7px;
			
			}
	}
	
	.faqList a em{margin-right: 5px;padding-left:1px;font-size:32px}
	
	.seeStuff .postDescription{font-size: 26px;max-height: 75px;min-height: inherit;overflow: hidden;padding-bottom: 5px;}
	.seeStuff .postTitle {font-size: 28px;}
	
	.seeStuff li {padding-bottom: 10px !important;}
	
	.seeStuff .imgSeeStuff {margin-bottom: 10px;}
	
/*	.imgTweet {width: 100px;}
	.tweetDesc {padding-top: 10px;margin-left: 115px;}
*/
.tweetDesc .tweetCont {font-size: 24px;line-height: .9;}
.pintrestImg a {max-width: 100px;}
.tweetDesc .tweetLink {font-size: 22px;}
.copyWrite {margin-left: 34px;}


}


@media only screen and (max-width:1022px) {
	
	.c1, .c2, .c3{
		margin-left: 60px;
	}
	
}

@media only screen and (max-width:1004px) {
	
	.loginBox {
		input[type="password"].txtField{
			width: 37%;
		}
		
		
	} /** End Login Box **/
	
	.title1{
		font-size:25px;	
	}
	
	.txt52{font-size:44px}
	.blockW{padding:50px 15px 20px}
	.borderBox {padding: 20px 10px;}
	
	.pintrestImg a {max-width: 104px;}
	
	.bg_why_virgin {height: 458px;}
	
		
	
	.creativeCollective .imgCreativeCollective{max-width:160px}
	.creativeCollective .postTitle {font-size: 36px;}
	
	
	/*.medium-6 .blockArticle a:first-child,
.medium-6 .blockW a:first-child{left:90px}
.medium-6 .blockArticle a:last-child,
.medium-6 .blockW a:last-child{right:90px}

.medium-6 .blockW .postsList a:last-child {
right: 70px;
}
.medium-6 .blockW .postsList a:first-child {
left: 70px;
}

.medium-6 .medium-6 .blockW a:first-child {
left: 15px;
}
.medium-6 .medium-6 .blockW a:last-child {
right: 15px;
}*/
	
	
}

@media only screen and (max-width: 1000px){
	
	.largHdr nav.medium-offset-2 {
		margin-left: 19% !important;
		width: 50%;
	}
	
	.largHdr .sub {
		margin-left: 20.8% !important;
	}
	
	
	
	.creativeCollective .imgCreativeCollective {
		max-width: 100px;
	}
	
	/*************/
	
	
	.creativeCollective .postContent {
		width: 65%;
	}
	
	.creativeCollective .postTitle {
		font-size: 30px;
	}
	.creativeCollective .postDescription {
		
		font-size: 25px;
	}
	
	.readPost {
		margin-top: 10px;
	}
	
}

